In [1]:
!pip install bs4
!pip install requests

Requirement already satisfied: bs4 in c:\users\bisue\anaconda2\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in c:\users\bisue\anaconda2\lib\site-packages (from bs4) (4.9.3)
Requirement already satisfied: soupsieve>1.2; python_version >= "3.0" in c:\users\bisue\anaconda2\lib\site-packages (from beautifulsoup4->bs4) (2.0.1)
Requirement already satisfied: requests in c:\users\bisue\anaconda2\lib\site-packages (2.24.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bisue\anaconda2\lib\site-packages (from requests) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\bisue\anaconda2\lib\site-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\bisue\anaconda2\lib\site-packages (from requests) (1.25.11)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\bisue\anaconda2\lib\site-packages (from requests) (3.0.4)

In [2]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\bisue\anaconda2\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\bisue\anaconda2\lib\site-packages (from selenium) (1.25.11)

In [3]:
from bs4 import BeautifulSoup
import requests

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import time
from selenium.common.exceptions import NoSuchElementException
import re

In [5]:
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait 
from selenium.webdriver.support import expected_conditions

In [6]:
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

driver = webdriver.Chrome(ChromeDriverManager().install())

====== WebDriver manager ======
Current google-chrome version is 97.0.4692
Get LATEST chromedriver version for 97.0.4692 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/97.0.4692.71/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\bisue\.wdm\drivers\chromedriver\win32\97.0.4692.71]

In [7]:
import pandas as pd
import numpy as np

In [7]:
url="https://www.yatra.com/"

In [9]:
driver.get(url)

In [18]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=22%2F01%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=254010891105&viewName=normal"

In [19]:
driver.get(url)

Delhi to Mumbai Flight for 22nd jan

In [10]:
search_item=driver.find_elements_by_xpath("//section[@class='search-page domestic FLIGHT_SRP']")

In [12]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Air India
Air India
IndiGo
Air India
IndiGo
Vistara
Vistara
Vistara
IndiGo
IndiGo
['Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Air India', 'Air India', 'IndiGo', 'Air India', 'IndiGo', 'Vistara', 'Vistara', 'Vistara', 'IndiGo', 'IndiGo']

In [23]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

08:45

New Delhi
22:30

New Delhi
14:20

New Delhi
10:20

New Delhi
08:25

New Delhi
10:20

New Delhi
13:50

New Delhi
20:50

New Delhi
10:20

New Delhi
06:05

New Delhi
17:50

New Delhi
20:50

New Delhi
18:00

New Delhi
07:00

New Delhi
07:15

New Delhi
08:00

New Delhi
08:10

New Delhi
12:50

New Delhi
14:20

New Delhi
15:30

New Delhi
17:15

New Delhi
18:40

New Delhi
19:30

New Delhi
20:00

New Delhi
21:40

New Delhi
['08:45\n\nNew Delhi', '22:30\n\nNew Delhi', '14:20\n\nNew Delhi', '10:20\n\nNew Delhi', '08:25\n\nNew Delhi', '10:20\n\nNew Delhi', '13:50\n\nNew Delhi', '20:50\n\nNew Delhi', '10:20\n\nNew Delhi', '06:05\n\nNew Delhi', '17:50\n\nNew Delhi', '20:50\n\nNew Delhi', '18:00\n\nNew Delhi', '07:00\n\nNew Delhi', '07:15\n\nNew Delhi', '08:00\n\nNew Delhi', '08:10\n\nNew Delhi', '12:50\n\nNew Delhi', '14:20\n\nNew Delhi', '15:30\n\nNew Delhi', '17:15\n\nNew Delhi', '18:40\n\nNew Delhi', '19:30\n\nNew Delhi', '20:00\n\nNew Delhi', '21:40\n\nNew Delhi']

In [25]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

10:55

Mumbai
00:40
+ 1 day

Mumbai
16:35

Mumbai
12:40

Mumbai
14:00

Mumbai
18:05

Mumbai
22:20

Mumbai
07:50
+ 1 day

Mumbai
22:20

Mumbai
18:35

Mumbai
08:25
+ 1 day

Mumbai
12:30
+ 1 day

Mumbai
20:00

Mumbai
09:05

Mumbai
09:25

Mumbai
10:10

Mumbai
10:20

Mumbai
15:00

Mumbai
16:30

Mumbai
17:40

Mumbai
19:25

Mumbai
20:50

Mumbai
21:40

Mumbai
22:10

Mumbai
23:50

Mumbai
['10:55\n\nMumbai', '00:40\n+ 1 day\n\nMumbai', '16:35\n\nMumbai', '12:40\n\nMumbai', '14:00\n\nMumbai', '18:05\n\nMumbai', '22:20\n\nMumbai', '07:50\n+ 1 day\n\nMumbai', '22:20\n\nMumbai', '18:35\n\nMumbai', '08:25\n+ 1 day\n\nMumbai', '12:30\n+ 1 day\n\nMumbai', '20:00\n\nMumbai', '09:05\n\nMumbai', '09:25\n\nMumbai', '10:10\n\nMumbai', '10:20\n\nMumbai', '15:00\n\nMumbai', '16:30\n\nMumbai', '17:40\n\nMumbai', '19:25\n\nMumbai', '20:50\n\nMumbai', '21:40\n\nMumbai', '22:10\n\nMumbai', '23:50\n\nMumbai']

In [26]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

2h 10m

Non Stop
2h 10m

Non Stop
2h 15m

Non Stop
2h 20m

Non Stop
5h 35m

1 Stop
7h 45m

1 Stop
8h 30m

1 Stop
11h 00m

1 Stop
12h 00m

1 Stop
12h 30m

1 Stop
14h 35m

1 Stop
15h 40m

1 Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
['2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 20m\n\nNon Stop', '5h 35m\n\n1 Stop ', '7h 45m\n\n1 Stop ', '8h 30m\n\n1 Stop ', '11h 00m\n\n1 Stop ', '12h 00m\n\n1 Stop ', '12h 30m\n\n1 Stop ', '14h 35m\n\n1 Stop ', '15h 40m\n\n1 Stop ', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop']

In [27]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,955
5,955
5,955
5,955
5,955
5,955
5,955
5,955
5,955
5,955
5,955
5,955
5,955
['5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,955', '5,955', '5,955', '5,955', '5,955', '5,955', '5,955', '5,955', '5,955', '5,955', '5,955', '5,955', '5,955']

In [28]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

,Airline Name,Dept Time,Arr Time,Duration,Price
0,Go First,08:45\n\nNew Delhi,10:55\n\nMumbai,2h 10m\n\nNon Stop,"5,954"
1,Go First,22:30\n\nNew Delhi,00:40\n+ 1 day\n\nMumbai,2h 10m\n\nNon Stop,"5,954"
2,Go First,14:20\n\nNew Delhi,16:35\n\nMumbai,2h 15m\n\nNon Stop,"5,954"
3,Go First,10:20\n\nNew Delhi,12:40\n\nMumbai,2h 20m\n\nNon Stop,"5,954"
4,Go First,08:25\n\nNew Delhi,14:00\n\nMumbai,5h 35m\n\n1 Stop,"5,954"

In [29]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails1.csv', index=False)

Now For 23rd jan

In [30]:
url= "https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&arrivalDate=23%2F01%2F2022&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=23%2F01%2F2022&hb=0&noOfSegments=2&origin=DEL&originCountry=IN&type=R&unique=1522093724733&version=1.1&viewName=normal"

In [31]:
driver.get(url)

In [32]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Air India
Air India
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
IndiGo
Go First
IndiGo
Go First
IndiGo
Go First
Go First
Go First
Go First
IndiGo
Go First
IndiGo
Go First
Go First
Go First
Go First
Go First
['Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Air India', 'Air India', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'IndiGo', 'Go First', 'IndiGo', 'Go First', 'IndiGo', 'Go First', 'Go First', 'Go First', 'Go First', 'IndiGo', 'Go First', 'IndiGo', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First']

In [34]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-4']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

08:00

Go First
22:30

Go First
02:00

Go First
12:45

Go First
14:20

Go First
19:40

Go First
21:00

Go First
10:20

Go First
18:05

Go First
16:45

Go First
16:45

Go First
09:10

Go First
08:25

Go First
08:40

Go First
06:05

Go First
15:00

Go First
10:00

Go First
09:00

Go First
09:55

Go First
06:30

Go First
09:10

Go First
08:40

Go First
08:25

Go First
18:00

Air India
07:00

Air India
06:00

Go First
08:20

Go First
18:00

Go First
20:15

Go First
10:45

Go First
13:30

Go First
15:45

Go First
22:05

Go First
23:45

Go First
18:10

Go First
09:25

IndiGo
19:15

Go First
06:05

IndiGo
05:25

Go First
17:30

IndiGo
16:20

Go First
18:10

Go First
11:20

Go First
09:00

Go First
15:05

IndiGo
15:20

Go First
08:55

IndiGo
11:20

Go First
10:40

Go First
11:20

Go First
08:25

Go First
19:15

Go First
['08:00\n\nGo First', '22:30\n\nGo First', '02:00\n\nGo First', '12:45\n\nGo First', '14:20\n\nGo First', '19:40\n\nGo First', '21:00\n\nGo First', '10:20\n\nGo First', '18:05\n\nGo First', '16:45\n\nGo First', '16:45\n\nGo First', '09:10\n\nGo First', '08:25\n\nGo First', '08:40\n\nGo First', '06:05\n\nGo First', '15:00\n\nGo First', '10:00\n\nGo First', '09:00\n\nGo First', '09:55\n\nGo First', '06:30\n\nGo First', '09:10\n\nGo First', '08:40\n\nGo First', '08:25\n\nGo First', '18:00\n\nAir India', '07:00\n\nAir India', '06:00\n\nGo First', '08:20\n\nGo First', '18:00\n\nGo First', '20:15\n\nGo First', '10:45\n\nGo First', '13:30\n\nGo First', '15:45\n\nGo First', '22:05\n\nGo First', '23:45\n\nGo First', '18:10\n\nGo First', '09:25\n\nIndiGo', '19:15\n\nGo First', '06:05\n\nIndiGo', '05:25\n\nGo First', '17:30\n\nIndiGo', '16:20\n\nGo First', '18:10\n\nGo First', '11:20\n\nGo First', '09:00\n\nGo First', '15:05\n\nIndiGo', '15:20\n\nGo First', '08:55\n\nIndiGo', '11:20\n\nGo First', '10:40\n\nGo First', '11:20\n\nGo First', '08:25\n\nGo First', '19:15\n\nGo First']

In [35]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-4']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

10:10
00:40
+ 1 day
04:15
15:00
16:35
21:55
23:15
12:40
20:25
21:00
21:25
14:15
14:00
14:35
12:30
21:40
17:00
17:00
18:20
15:45
18:25
18:20
18:10
20:00
09:05
08:10
10:30
20:10
22:25
13:00
15:45
18:00
00:20
+ 1 day
02:00
+ 1 day
22:15
13:40
23:30
10:25
09:50
22:00
21:35
23:30
17:00
14:45
21:20
21:35
15:20
18:00
17:35
19:00
18:10
23:30
['10:10', '00:40\n+ 1 day', '04:15', '15:00', '16:35', '21:55', '23:15', '12:40', '20:25', '21:00', '21:25', '14:15', '14:00', '14:35', '12:30', '21:40', '17:00', '17:00', '18:20', '15:45', '18:25', '18:20', '18:10', '20:00', '09:05', '08:10', '10:30', '20:10', '22:25', '13:00', '15:45', '18:00', '00:20\n+ 1 day', '02:00\n+ 1 day', '22:15', '13:40', '23:30', '10:25', '09:50', '22:00', '21:35', '23:30', '17:00', '14:45', '21:20', '21:35', '15:20', '18:00', '17:35', '19:00', '18:10', '23:30']

In [36]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont no-wrap pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

2h 10m

Non Stop
2h 10m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 20m

Non Stop
2h 20m

Non Stop
4h 15m

1 Stop
4h 40m

1 Stop
5h 05m

1 Stop
5h 35m

1 Stop
5h 55m

1 Stop
6h 25m

1 Stop
6h 40m

1 Stop
7h 00m

1 Stop
8h 00m

1 Stop
8h 25m

1 Stop
9h 15m

1 Stop
9h 15m

1 Stop
9h 40m

1 Stop
9h 45m

2 Stop(s)
2h 00m

Non Stop
2h 05m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
4h 05m

1 Stop
4h 15m

1 Stop
4h 15m

1 Stop
4h 20m

1 Stop
4h 25m

1 Stop
4h 30m

1 Stop
5h 15m

1 Stop
5h 20m

1 Stop
5h 40m

1 Stop
5h 45m

1 Stop
6h 15m

1 Stop
6h 15m

1 Stop
6h 25m

1 Stop
6h 40m

1 Stop
6h 55m

1 Stop
7h 40m

1 Stop
9h 45m

2 Stop(s)
4h 15m

1 Stop
['2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 20m\n\nNon Stop', '2h 20m\n\nNon Stop', '4h 15m\n\n1 Stop ', '4h 40m\n\n1 Stop ', '5h 05m\n\n1 Stop ', '5h 35m\n\n1 Stop ', '5h 55m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '6h 40m\n\n1 Stop ', '7h 00m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 25m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 40m\n\n1 Stop ', '9h 45m\n\n2 Stop(s) ', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '4h 05m\n\n1 Stop ', '4h 15m\n\n1 Stop ', '4h 15m\n\n1 Stop ', '4h 20m\n\n1 Stop ', '4h 25m\n\n1 Stop ', '4h 30m\n\n1 Stop ', '5h 15m\n\n1 Stop ', '5h 20m\n\n1 Stop ', '5h 40m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 15m\n\n1 Stop ', '6h 15m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '6h 40m\n\n1 Stop ', '6h 55m\n\n1 Stop ', '7h 40m\n\n1 Stop ', '9h 45m\n\n2 Stop(s)', '4h 15m\n\n1 Stop']

In [37]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-16']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,955
5,955
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
['5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,955', '5,955', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942']

In [39]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights[0:49]
Flight['Dept Time']=dept[0:49]
Flight['Arr Time']=arr[0:49]
Flight['Duration']=duration[0:49]
Flight['Price']=price[0:49]
Flight.head()

  Airline Name          Dept Time        Arr Time            Duration  Price
0     Go First  08:00\n\nGo First           10:10  2h 10m\n\nNon Stop  5,954
1     Go First  22:30\n\nGo First  00:40\n+ 1 day  2h 10m\n\nNon Stop  5,954
2     Go First  02:00\n\nGo First           04:15  2h 15m\n\nNon Stop  5,954
3     Go First  12:45\n\nGo First           15:00  2h 15m\n\nNon Stop  5,954
4     Go First  14:20\n\nGo First           16:35  2h 15m\n\nNon Stop  5,954

In [40]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails2.csv', index=False)

now For 24th Jan

In [41]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&arrivalDate=24%2F01%2F2022&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=24%2F01%2F2022&hb=0&noOfSegments=2&origin=DEL&originCountry=IN&type=R&unique=778461581048&version=1.1&viewName=normal"

In [42]:
driver.get(url)

In [43]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Air India
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Air India
Air India
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
IndiGo
Go First
IndiGo
IndiGo
Go First
Go First
IndiGo
Go First
IndiGo
Go First
IndiGo
IndiGo
Go First
IndiGo
Go First
Go First
Air India
Go First
['Air India', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Air India', 'Air India', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'IndiGo', 'Go First', 'IndiGo', 'IndiGo', 'Go First', 'Go First', 'IndiGo', 'Go First', 'IndiGo', 'Go First', 'IndiGo', 'IndiGo', 'Go First', 'IndiGo', 'Go First', 'Go First', 'Air India', 'Go First']

In [44]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-4']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

05:35

Air India
08:00

Go First
22:30

Go First
02:00

Go First
12:45

Go First
14:20

Go First
19:40

Go First
21:00

Go First
10:20

Go First
18:05

Go First
16:45

Go First
16:45

Go First
08:25

Go First
12:35

Go First
19:55

Go First
06:05

Go First
15:00

Go First
10:00

Go First
09:55

Go First
13:45

Go First
06:30

Go First
09:10

Go First
16:45

Go First
18:00

Air India
07:00

Air India
06:00

Go First
08:20

Go First
18:00

Go First
20:15

Go First
10:45

Go First
13:30

Go First
15:45

Go First
22:05

Go First
23:45

Go First
13:45

IndiGo
18:10

Go First
20:15

IndiGo
16:45

IndiGo
19:15

Go First
05:25

Go First
17:30

IndiGo
15:20

Go First
19:15

IndiGo
18:10

Go First
15:05

IndiGo
08:55

IndiGo
11:20

Go First
17:30

IndiGo
10:40

Go First
13:05

Go First
05:35

Air India
20:15

Go First
['05:35\n\nAir India', '08:00\n\nGo First', '22:30\n\nGo First', '02:00\n\nGo First', '12:45\n\nGo First', '14:20\n\nGo First', '19:40\n\nGo First', '21:00\n\nGo First', '10:20\n\nGo First', '18:05\n\nGo First', '16:45\n\nGo First', '16:45\n\nGo First', '08:25\n\nGo First', '12:35\n\nGo First', '19:55\n\nGo First', '06:05\n\nGo First', '15:00\n\nGo First', '10:00\n\nGo First', '09:55\n\nGo First', '13:45\n\nGo First', '06:30\n\nGo First', '09:10\n\nGo First', '16:45\n\nGo First', '18:00\n\nAir India', '07:00\n\nAir India', '06:00\n\nGo First', '08:20\n\nGo First', '18:00\n\nGo First', '20:15\n\nGo First', '10:45\n\nGo First', '13:30\n\nGo First', '15:45\n\nGo First', '22:05\n\nGo First', '23:45\n\nGo First', '13:45\n\nIndiGo', '18:10\n\nGo First', '20:15\n\nIndiGo', '16:45\n\nIndiGo', '19:15\n\nGo First', '05:25\n\nGo First', '17:30\n\nIndiGo', '15:20\n\nGo First', '19:15\n\nIndiGo', '18:10\n\nGo First', '15:05\n\nIndiGo', '08:55\n\nIndiGo', '11:20\n\nGo First', '17:30\n\nIndiGo', '10:40\n\nGo First', '13:05\n\nGo First', '05:35\n\nAir India', '20:15\n\nGo First']

In [45]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-4']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

10:55
10:10
00:40
+ 1 day
04:15
15:00
16:35
21:55
23:15
12:40
20:25
21:00
21:25
14:00
18:10
02:00
+ 1 day
12:30
21:40
17:00
18:20
22:20
15:45
18:25
02:00
+ 1 day
20:00
09:05
08:10
10:30
20:10
22:25
13:00
15:45
18:00
00:20
+ 1 day
02:00
+ 1 day
17:35
22:15
00:20
+ 1 day
21:00
23:30
09:50
22:00
20:20
00:20
+ 1 day
23:30
21:20
15:20
18:00
00:20
+ 1 day
17:35
20:30
10:55
22:25
['10:55', '10:10', '00:40\n+ 1 day', '04:15', '15:00', '16:35', '21:55', '23:15', '12:40', '20:25', '21:00', '21:25', '14:00', '18:10', '02:00\n+ 1 day', '12:30', '21:40', '17:00', '18:20', '22:20', '15:45', '18:25', '02:00\n+ 1 day', '20:00', '09:05', '08:10', '10:30', '20:10', '22:25', '13:00', '15:45', '18:00', '00:20\n+ 1 day', '02:00\n+ 1 day', '17:35', '22:15', '00:20\n+ 1 day', '21:00', '23:30', '09:50', '22:00', '20:20', '00:20\n+ 1 day', '23:30', '21:20', '15:20', '18:00', '00:20\n+ 1 day', '17:35', '20:30', '10:55', '22:25']

In [46]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont no-wrap pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

5h 20m

1 Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 20m

Non Stop
2h 20m

Non Stop
4h 15m

1 Stop
4h 40m

1 Stop
5h 35m

1 Stop
5h 35m

1 Stop
6h 05m

1 Stop
6h 25m

1 Stop
6h 40m

1 Stop
7h 00m

1 Stop
8h 25m

1 Stop
8h 35m

2 Stop(s)
9h 15m

1 Stop
9h 15m

1 Stop
9h 15m

1 Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 10m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
3h 50m

1 Stop
4h 05m

1 Stop
4h 05m

1 Stop
4h 15m

1 Stop
4h 15m

1 Stop
4h 25m

1 Stop
4h 30m

1 Stop
5h 00m

1 Stop
5h 05m

1 Stop
5h 20m

1 Stop
6h 15m

1 Stop
6h 25m

1 Stop
6h 40m

1 Stop
6h 50m

1 Stop
6h 55m

1 Stop
7h 25m

2 Stop(s)
5h 20m

1 Stop
2h 10m

Non Stop
['5h 20m\n\n1 Stop ', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 20m\n\nNon Stop', '2h 20m\n\nNon Stop', '4h 15m\n\n1 Stop ', '4h 40m\n\n1 Stop ', '5h 35m\n\n1 Stop ', '5h 35m\n\n1 Stop ', '6h 05m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '6h 40m\n\n1 Stop ', '7h 00m\n\n1 Stop ', '8h 25m\n\n1 Stop ', '8h 35m\n\n2 Stop(s) ', '9h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '3h 50m\n\n1 Stop ', '4h 05m\n\n1 Stop ', '4h 05m\n\n1 Stop ', '4h 15m\n\n1 Stop ', '4h 15m\n\n1 Stop ', '4h 25m\n\n1 Stop ', '4h 30m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 05m\n\n1 Stop ', '5h 20m\n\n1 Stop ', '6h 15m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '6h 40m\n\n1 Stop ', '6h 50m\n\n1 Stop ', '6h 55m\n\n1 Stop ', '7h 25m\n\n2 Stop(s) ', '5h 20m\n\n1 Stop', '2h 10m\n\nNon Stop']

In [47]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-16']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,325
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,955
5,955
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
5,942
['5,325', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,955', '5,955', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,942']

In [48]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights[0:49]
Flight['Dept Time']=dept[0:49]
Flight['Arr Time']=arr[0:49]
Flight['Duration']=duration[0:49]
Flight['Price']=price[0:49]
Flight.head()

  Airline Name           Dept Time        Arr Time            Duration  Price
0    Air India  05:35\n\nAir India           10:55   5h 20m\n\n1 Stop   5,325
1     Go First   08:00\n\nGo First           10:10  2h 10m\n\nNon Stop  5,954
2     Go First   22:30\n\nGo First  00:40\n+ 1 day  2h 10m\n\nNon Stop  5,954
3     Go First   02:00\n\nGo First           04:15  2h 15m\n\nNon Stop  5,954
4     Go First   12:45\n\nGo First           15:00  2h 15m\n\nNon Stop  5,954

In [49]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails3.csv', index=False)

Now for 25th jan

In [7]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BOM&destinationCountry=IN&flexi=0&flight_depart_date=25%2F01%2F2022&hb=0&noOfSegments=1&origin=DEL&originCountry=IN&type=O&unique=1465554925806&version=1.1&viewName=normal"

In [8]:
driver.get(url)

In [9]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Air India
Air India
['Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Air India', 'Air India']

In [11]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

08:00

New Delhi
22:30

New Delhi
02:00

New Delhi
12:45

New Delhi
14:20

New Delhi
19:40

New Delhi
21:00

New Delhi
10:30

New Delhi
18:05

New Delhi
16:45

New Delhi
16:45

New Delhi
11:30

New Delhi
08:25

New Delhi
12:35

New Delhi
19:55

New Delhi
10:45

New Delhi
11:50

New Delhi
06:05

New Delhi
15:00

New Delhi
10:45

New Delhi
09:00

New Delhi
13:45

New Delhi
10:45

New Delhi
18:00

New Delhi
07:00

New Delhi
['08:00\n\nNew Delhi', '22:30\n\nNew Delhi', '02:00\n\nNew Delhi', '12:45\n\nNew Delhi', '14:20\n\nNew Delhi', '19:40\n\nNew Delhi', '21:00\n\nNew Delhi', '10:30\n\nNew Delhi', '18:05\n\nNew Delhi', '16:45\n\nNew Delhi', '16:45\n\nNew Delhi', '11:30\n\nNew Delhi', '08:25\n\nNew Delhi', '12:35\n\nNew Delhi', '19:55\n\nNew Delhi', '10:45\n\nNew Delhi', '11:50\n\nNew Delhi', '06:05\n\nNew Delhi', '15:00\n\nNew Delhi', '10:45\n\nNew Delhi', '09:00\n\nNew Delhi', '13:45\n\nNew Delhi', '10:45\n\nNew Delhi', '18:00\n\nNew Delhi', '07:00\n\nNew Delhi']

In [12]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

10:10

Mumbai
00:40
+ 1 day

Mumbai
04:15

Mumbai
15:00

Mumbai
16:35

Mumbai
21:55

Mumbai
23:15

Mumbai
12:50

Mumbai
20:25

Mumbai
21:25

Mumbai
21:30

Mumbai
17:00

Mumbai
14:00

Mumbai
18:10

Mumbai
02:00
+ 1 day

Mumbai
17:00

Mumbai
18:10

Mumbai
12:30

Mumbai
21:40

Mumbai
18:20

Mumbai
17:00

Mumbai
22:20

Mumbai
19:40

Mumbai
20:00

Mumbai
09:05

Mumbai
['10:10\n\nMumbai', '00:40\n+ 1 day\n\nMumbai', '04:15\n\nMumbai', '15:00\n\nMumbai', '16:35\n\nMumbai', '21:55\n\nMumbai', '23:15\n\nMumbai', '12:50\n\nMumbai', '20:25\n\nMumbai', '21:25\n\nMumbai', '21:30\n\nMumbai', '17:00\n\nMumbai', '14:00\n\nMumbai', '18:10\n\nMumbai', '02:00\n+ 1 day\n\nMumbai', '17:00\n\nMumbai', '18:10\n\nMumbai', '12:30\n\nMumbai', '21:40\n\nMumbai', '18:20\n\nMumbai', '17:00\n\nMumbai', '22:20\n\nMumbai', '19:40\n\nMumbai', '20:00\n\nMumbai', '09:05\n\nMumbai']

In [14]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

2h 10m

Non Stop
2h 10m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 15m

Non Stop
2h 20m

Non Stop
2h 20m

Non Stop
4h 40m

1 Stop
4h 45m

1 Stop
5h 30m

1 Stop
5h 35m

1 Stop
5h 35m

1 Stop
6h 05m

1 Stop
6h 15m

1 Stop
6h 20m

1 Stop
6h 25m

1 Stop
6h 40m

1 Stop
7h 35m

1 Stop
8h 00m

1 Stop
8h 35m

2 Stop(s)
8h 55m

1 Stop
2h 00m

Non Stop
2h 05m

Non Stop
['2h 10m\n\nNon Stop', '2h 10m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 15m\n\nNon Stop', '2h 20m\n\nNon Stop', '2h 20m\n\nNon Stop', '4h 40m\n\n1 Stop ', '4h 45m\n\n1 Stop ', '5h 30m\n\n1 Stop ', '5h 35m\n\n1 Stop ', '5h 35m\n\n1 Stop ', '6h 05m\n\n1 Stop ', '6h 15m\n\n1 Stop ', '6h 20m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '6h 40m\n\n1 Stop ', '7h 35m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 35m\n\n2 Stop(s) ', '8h 55m\n\n1 Stop ', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop']

In [15]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,954
5,955
5,955
['5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,954', '5,955', '5,955']

In [16]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

,Airline Name,Dept Time,Arr Time,Duration,Price
0,Go First,08:00\n\nNew Delhi,10:10\n\nMumbai,2h 10m\n\nNon Stop,"5,954"
1,Go First,22:30\n\nNew Delhi,00:40\n+ 1 day\n\nMumbai,2h 10m\n\nNon Stop,"5,954"
2,Go First,02:00\n\nNew Delhi,04:15\n\nMumbai,2h 15m\n\nNon Stop,"5,954"
3,Go First,12:45\n\nNew Delhi,15:00\n\nMumbai,2h 15m\n\nNon Stop,"5,954"
4,Go First,14:20\n\nNew Delhi,16:35\n\nMumbai,2h 15m\n\nNon Stop,"5,954"

In [17]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails4.csv', index=False)

In [18]:
driver.close()

Delhi to Bangalore 25th Jan

In [19]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&arrivalDate=25%2F01%2F2022&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=25%2F01%2F2022&hb=0&noOfSegments=2&origin=DEL&originCountry=IN&type=R&unique=1321917455829&version=1.1&viewName=normal"

In [22]:
driver.get(url)

In [23]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
IndiGo
Vistara
Air India
Vistara
Air India
Vistara
Vistara
Air India
SpiceJet
Vistara
IndiGo
IndiGo
Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
Air Asia
Air Asia
['Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'IndiGo', 'Vistara', 'Air India', 'Vistara', 'Air India', 'Vistara', 'Vistara', 'Air India', 'SpiceJet', 'Vistara', 'IndiGo', 'IndiGo', 'Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'Air Asia', 'Air Asia']

In [25]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-4']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

12:40

Air Asia
06:05

Go First
18:40

Go First
09:40

Go First
09:40

Go First
16:45

Go First
16:35

Go First
02:00

Go First
14:20

Go First
08:00

Go First
12:45

Go First
22:30

Go First
19:55

Go First
06:10

IndiGo
20:40

Vistara
06:10

Air India
09:05

Vistara
09:30

Air India
14:15

Vistara
16:05

Vistara
17:20

Air India
19:40

SpiceJet
17:35

Vistara
08:20

IndiGo
12:30

IndiGo
09:15

Air Asia
07:20

Go First
22:00

Go First
18:50

Go First
09:15

Go First
10:50

Go First
17:20

Go First
16:45

Go First
13:00

Go First
05:40

Go First
09:15

Go First
06:30

Go First
16:45

Go First
10:50

Go First
11:50

Go First
09:15

Go First
15:45

Go First
05:30

Go First
21:55

SpiceJet
09:30

IndiGo
14:00

IndiGo
16:30

IndiGo
11:55

IndiGo
17:50

IndiGo
22:10

IndiGo
12:40

Air Asia
09:15

Air Asia
['12:40\n\nAir Asia', '06:05\n\nGo First', '18:40\n\nGo First', '09:40\n\nGo First', '09:40\n\nGo First', '16:45\n\nGo First', '16:35\n\nGo First', '02:00\n\nGo First', '14:20\n\nGo First', '08:00\n\nGo First', '12:45\n\nGo First', '22:30\n\nGo First', '19:55\n\nGo First', '06:10\n\nIndiGo', '20:40\n\nVistara', '06:10\n\nAir India', '09:05\n\nVistara', '09:30\n\nAir India', '14:15\n\nVistara', '16:05\n\nVistara', '17:20\n\nAir India', '19:40\n\nSpiceJet', '17:35\n\nVistara', '08:20\n\nIndiGo', '12:30\n\nIndiGo', '09:15\n\nAir Asia', '07:20\n\nGo First', '22:00\n\nGo First', '18:50\n\nGo First', '09:15\n\nGo First', '10:50\n\nGo First', '17:20\n\nGo First', '16:45\n\nGo First', '13:00\n\nGo First', '05:40\n\nGo First', '09:15\n\nGo First', '06:30\n\nGo First', '16:45\n\nGo First', '10:50\n\nGo First', '11:50\n\nGo First', '09:15\n\nGo First', '15:45\n\nGo First', '05:30\n\nGo First', '21:55\n\nSpiceJet', '09:30\n\nIndiGo', '14:00\n\nIndiGo', '16:30\n\nIndiGo', '11:55\n\nIndiGo', '17:50\n\nIndiGo', '22:10\n\nIndiGo', '12:40\n\nAir Asia', '09:15\n\nAir Asia']

In [26]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-4']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

20:55
08:40
21:25
15:20
16:30
23:40
00:05
+ 1 day
09:55
22:20
16:10
22:20
09:55
+ 1 day
07:25
+ 1 day
08:50
23:20
08:55
11:50
12:15
17:00
18:50
20:05
22:25
20:25
11:15
15:25
20:00
10:10
00:50
+ 1 day
23:30
15:30
18:00
00:30
+ 1 day
00:20
+ 1 day
21:30
14:20
18:00
15:45
02:00
+ 1 day
20:10
21:30
19:00
02:20
+ 1 day
16:55
00:35
+ 1 day
12:15
16:45
19:20
14:50
20:45
01:05
+ 1 day
20:55
20:00
['20:55', '08:40', '21:25', '15:20', '16:30', '23:40', '00:05\n+ 1 day', '09:55', '22:20', '16:10', '22:20', '09:55\n+ 1 day', '07:25\n+ 1 day', '08:50', '23:20', '08:55', '11:50', '12:15', '17:00', '18:50', '20:05', '22:25', '20:25', '11:15', '15:25', '20:00', '10:10', '00:50\n+ 1 day', '23:30', '15:30', '18:00', '00:30\n+ 1 day', '00:20\n+ 1 day', '21:30', '14:20', '18:00', '15:45', '02:00\n+ 1 day', '20:10', '21:30', '19:00', '02:20\n+ 1 day', '16:55', '00:35\n+ 1 day', '12:15', '16:45', '19:20', '14:50', '20:45', '01:05\n+ 1 day', '20:55', '20:00']

In [27]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont no-wrap pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

8h 15m

2 Stop(s)
2h 35m

Non Stop
2h 45m

Non Stop
5h 40m

1 Stop
6h 50m

1 Stop
6h 55m

1 Stop
7h 30m

1 Stop
7h 55m

1 Stop
8h 00m

1 Stop
8h 10m

1 Stop
9h 35m

1 Stop
11h 25m

1 Stop
11h 30m

1 Stop
2h 40m

Non Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 50m

Non Stop
2h 55m

Non Stop
2h 55m

Non Stop
10h 45m

1 Stop
2h 50m

Non Stop
2h 50m

Non Stop
4h 40m

1 Stop
6h 15m

1 Stop
7h 10m

1 Stop
7h 10m

1 Stop
7h 35m

1 Stop
8h 30m

1 Stop
8h 40m

1 Stop
8h 45m

1 Stop
9h 15m

1 Stop
9h 15m

1 Stop
9h 20m

1 Stop
9h 40m

1 Stop
9h 45m

1 Stop
10h 35m

1 Stop
11h 25m

1 Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 50m

Non Stop
2h 55m

Non Stop
2h 55m

Non Stop
2h 55m

Non Stop
8h 15m

2 Stop(s)
10h 45m

1 Stop
['8h 15m\n\n2 Stop(s) ', '2h 35m\n\nNon Stop', '2h 45m\n\nNon Stop', '5h 40m\n\n1 Stop ', '6h 50m\n\n1 Stop ', '6h 55m\n\n1 Stop ', '7h 30m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 10m\n\n1 Stop ', '9h 35m\n\n1 Stop ', '11h 25m\n\n1 Stop ', '11h 30m\n\n1 Stop ', '2h 40m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 50m\n\nNon Stop', '2h 55m\n\nNon Stop', '2h 55m\n\nNon Stop', '10h 45m\n\n1 Stop ', '2h 50m\n\nNon Stop', '2h 50m\n\nNon Stop', '4h 40m\n\n1 Stop ', '6h 15m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '7h 35m\n\n1 Stop ', '8h 30m\n\n1 Stop ', '8h 40m\n\n1 Stop ', '8h 45m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 20m\n\n1 Stop ', '9h 40m\n\n1 Stop ', '9h 45m\n\n1 Stop ', '10h 35m\n\n1 Stop ', '11h 25m\n\n1 Stop ', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 50m\n\nNon Stop', '2h 55m\n\nNon Stop', '2h 55m\n\nNon Stop', '2h 55m\n\nNon Stop', '8h 15m\n\n2 Stop(s)', '10h 45m\n\n1 Stop']

In [28]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-16']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

7,423
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,484
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,488
7,488
7,488
7,488
7,488
7,488
7,488
['7,423', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,484', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488']

In [30]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights[0:50]
Flight['Dept Time']=dept[0:50]
Flight['Arr Time']=arr[0:50]
Flight['Duration']=duration[0:50]
Flight['Price']=price[0:50]
Flight.head()

  Airline Name          Dept Time Arr Time              Duration  Price
0     Air Asia  12:40\n\nAir Asia    20:55  8h 15m\n\n2 Stop(s)   7,423
1     Go First  06:05\n\nGo First    08:40    2h 35m\n\nNon Stop  7,424
2     Go First  18:40\n\nGo First    21:25    2h 45m\n\nNon Stop  7,424
3     Go First  09:40\n\nGo First    15:20     5h 40m\n\n1 Stop   7,424
4     Go First  09:40\n\nGo First    16:30     6h 50m\n\n1 Stop   7,424

In [31]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails5.csv', index=False)

Now For 26th Jan

In [32]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&arrivalDate=26%2F01%2F2022&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=26%2F01%2F2022&hb=0&noOfSegments=2&origin=DEL&originCountry=IN&type=R&unique=624561017500&version=1.1&viewName=normal"

In [33]:
driver.get(url)

In [35]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
IndiGo
Vistara
Air India
Vistara
Air India
Air India
Vistara
Vistara
Air India
Vistara
IndiGo
Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
SpiceJet
SpiceJet
SpiceJet
SpiceJet
SpiceJet
Air Asia
Air Asia
['Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'IndiGo', 'Vistara', 'Air India', 'Vistara', 'Air India', 'Air India', 'Vistara', 'Vistara', 'Air India', 'Vistara', 'IndiGo', 'Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'SpiceJet', 'SpiceJet', 'SpiceJet', 'SpiceJet', 'SpiceJet', 'Air Asia', 'Air Asia']

In [36]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-4']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

12:40

Air Asia
06:05

Go First
18:40

Go First
09:40

Go First
09:40

Go First
16:45

Go First
16:35

Go First
02:00

Go First
14:20

Go First
08:00

Go First
12:45

Go First
19:55

Go First
10:20

Go First
05:35

SpiceJet
06:10

IndiGo
20:40

Vistara
06:10

Air India
09:05

Vistara
09:45

Air India
13:30

Air India
14:15

Vistara
16:05

Vistara
17:20

Air India
17:35

Vistara
08:20

IndiGo
09:15

Air Asia
06:30

Go First
22:00

Go First
18:50

Go First
06:30

Go First
10:50

Go First
17:20

Go First
16:45

Go First
13:00

Go First
05:40

Go First
06:30

Go First
16:45

Go First
10:50

Go First
11:50

Go First
05:55

SpiceJet
11:35

IndiGo
14:00

IndiGo
11:55

IndiGo
17:50

IndiGo
19:15

IndiGo
10:20

SpiceJet
09:20

SpiceJet
05:45

SpiceJet
10:20

SpiceJet
14:05

SpiceJet
12:40

Air Asia
09:15

Air Asia
['12:40\n\nAir Asia', '06:05\n\nGo First', '18:40\n\nGo First', '09:40\n\nGo First', '09:40\n\nGo First', '16:45\n\nGo First', '16:35\n\nGo First', '02:00\n\nGo First', '14:20\n\nGo First', '08:00\n\nGo First', '12:45\n\nGo First', '19:55\n\nGo First', '10:20\n\nGo First', '05:35\n\nSpiceJet', '06:10\n\nIndiGo', '20:40\n\nVistara', '06:10\n\nAir India', '09:05\n\nVistara', '09:45\n\nAir India', '13:30\n\nAir India', '14:15\n\nVistara', '16:05\n\nVistara', '17:20\n\nAir India', '17:35\n\nVistara', '08:20\n\nIndiGo', '09:15\n\nAir Asia', '06:30\n\nGo First', '22:00\n\nGo First', '18:50\n\nGo First', '06:30\n\nGo First', '10:50\n\nGo First', '17:20\n\nGo First', '16:45\n\nGo First', '13:00\n\nGo First', '05:40\n\nGo First', '06:30\n\nGo First', '16:45\n\nGo First', '10:50\n\nGo First', '11:50\n\nGo First', '05:55\n\nSpiceJet', '11:35\n\nIndiGo', '14:00\n\nIndiGo', '11:55\n\nIndiGo', '17:50\n\nIndiGo', '19:15\n\nIndiGo', '10:20\n\nSpiceJet', '09:20\n\nSpiceJet', '05:45\n\nSpiceJet', '10:20\n\nSpiceJet', '14:05\n\nSpiceJet', '12:40\n\nAir Asia', '09:15\n\nAir Asia']

In [37]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-4']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

20:55
08:40
21:25
15:20
16:30
23:40
00:05
+ 1 day
09:55
22:20
16:10
22:20
07:25
+ 1 day
22:20
08:05
08:50
23:20
08:55
11:50
12:30
16:15
17:00
18:50
20:05
20:25
11:15
20:00
09:20
00:50
+ 1 day
23:30
13:00
18:00
00:30
+ 1 day
00:20
+ 1 day
21:30
14:20
15:45
02:00
+ 1 day
20:10
21:30
08:40
14:20
16:45
14:50
20:45
22:10
19:45
19:30
22:10
09:00
+ 1 day
16:35
+ 1 day
20:55
20:00
['20:55', '08:40', '21:25', '15:20', '16:30', '23:40', '00:05\n+ 1 day', '09:55', '22:20', '16:10', '22:20', '07:25\n+ 1 day', '22:20', '08:05', '08:50', '23:20', '08:55', '11:50', '12:30', '16:15', '17:00', '18:50', '20:05', '20:25', '11:15', '20:00', '09:20', '00:50\n+ 1 day', '23:30', '13:00', '18:00', '00:30\n+ 1 day', '00:20\n+ 1 day', '21:30', '14:20', '15:45', '02:00\n+ 1 day', '20:10', '21:30', '08:40', '14:20', '16:45', '14:50', '20:45', '22:10', '19:45', '19:30', '22:10', '09:00\n+ 1 day', '16:35\n+ 1 day', '20:55', '20:00']

In [38]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont no-wrap pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

8h 15m

2 Stop(s)
2h 35m

Non Stop
2h 45m

Non Stop
5h 40m

1 Stop
6h 50m

1 Stop
6h 55m

1 Stop
7h 30m

1 Stop
7h 55m

1 Stop
8h 00m

1 Stop
8h 10m

1 Stop
9h 35m

1 Stop
11h 30m

1 Stop
12h 00m

1 Stop
2h 30m

Non Stop
2h 40m

Non Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 50m

Non Stop
2h 55m

Non Stop
10h 45m

1 Stop
2h 50m

Non Stop
2h 50m

Non Stop
4h 40m

1 Stop
6h 30m

1 Stop
7h 10m

1 Stop
7h 10m

1 Stop
7h 35m

1 Stop
8h 30m

1 Stop
8h 40m

1 Stop
9h 15m

1 Stop
9h 15m

1 Stop
9h 20m

1 Stop
9h 40m

1 Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 55m

Non Stop
2h 55m

Non Stop
2h 55m

Non Stop
9h 25m

1 Stop
10h 10m

1 Stop
16h 25m

1 Stop
22h 40m

1 Stop
26h 30m

1 Stop
8h 15m

2 Stop(s)
10h 45m

1 Stop
['8h 15m\n\n2 Stop(s) ', '2h 35m\n\nNon Stop', '2h 45m\n\nNon Stop', '5h 40m\n\n1 Stop ', '6h 50m\n\n1 Stop ', '6h 55m\n\n1 Stop ', '7h 30m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 10m\n\n1 Stop ', '9h 35m\n\n1 Stop ', '11h 30m\n\n1 Stop ', '12h 00m\n\n1 Stop ', '2h 30m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 50m\n\nNon Stop', '2h 55m\n\nNon Stop', '10h 45m\n\n1 Stop ', '2h 50m\n\nNon Stop', '2h 50m\n\nNon Stop', '4h 40m\n\n1 Stop ', '6h 30m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '7h 35m\n\n1 Stop ', '8h 30m\n\n1 Stop ', '8h 40m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 20m\n\n1 Stop ', '9h 40m\n\n1 Stop ', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 55m\n\nNon Stop', '2h 55m\n\nNon Stop', '2h 55m\n\nNon Stop', '9h 25m\n\n1 Stop ', '10h 10m\n\n1 Stop ', '16h 25m\n\n1 Stop ', '22h 40m\n\n1 Stop ', '26h 30m\n\n1 Stop ', '8h 15m\n\n2 Stop(s)', '10h 45m\n\n1 Stop']

In [39]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-16']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

7,423
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,484
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,488
7,488
7,488
7,488
7,488
7,488
7,488
7,488
7,488
7,488
7,488
['7,423', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,484', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488']

In [40]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights[0:50]
Flight['Dept Time']=dept[0:50]
Flight['Arr Time']=arr[0:50]
Flight['Duration']=duration[0:50]
Flight['Price']=price[0:50]
Flight.head()

  Airline Name          Dept Time Arr Time              Duration  Price
0     Air Asia  12:40\n\nAir Asia    20:55  8h 15m\n\n2 Stop(s)   7,423
1     Go First  06:05\n\nGo First    08:40    2h 35m\n\nNon Stop  7,424
2     Go First  18:40\n\nGo First    21:25    2h 45m\n\nNon Stop  7,424
3     Go First  09:40\n\nGo First    15:20     5h 40m\n\n1 Stop   7,424
4     Go First  09:40\n\nGo First    16:30     6h 50m\n\n1 Stop   7,424

In [41]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails6.csv', index=False)

Now For 27th Jan

In [42]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&arrivalDate=27%2F01%2F2022&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=27%2F01%2F2022&hb=0&noOfSegments=2&origin=DEL&originCountry=IN&type=R&unique=703079857323&version=1.1&viewName=normal"

In [43]:
driver.get(url)

In [44]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
IndiGo
Vistara
Air India
Vistara
Air India
Air India
Vistara
Vistara
Air India
SpiceJet
SpiceJet
Vistara
Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
IndiGo
IndiGo
SpiceJet
IndiGo
IndiGo
IndiGo
Air Asia
Air Asia
['Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'IndiGo', 'Vistara', 'Air India', 'Vistara', 'Air India', 'Air India', 'Vistara', 'Vistara', 'Air India', 'SpiceJet', 'SpiceJet', 'Vistara', 'Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'IndiGo', 'IndiGo', 'SpiceJet', 'IndiGo', 'IndiGo', 'IndiGo', 'Air Asia', 'Air Asia']

In [45]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-4']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

12:40

Air Asia
06:05

Go First
18:40

Go First
09:40

Go First
09:40

Go First
16:45

Go First
16:35

Go First
02:00

Go First
14:20

Go First
08:00

Go First
12:45

Go First
19:55

Go First
12:30

Go First
06:10

IndiGo
20:40

Vistara
06:10

Air India
09:05

Vistara
09:45

Air India
13:30

Air India
14:15

Vistara
16:05

Vistara
17:20

Air India
19:40

SpiceJet
22:30

SpiceJet
17:35

Vistara
09:15

Air Asia
07:20

Go First
22:00

Go First
18:50

Go First
11:50

Go First
09:15

Go First
16:45

Go First
10:50

Go First
17:20

Go First
13:00

Go First
05:40

Go First
09:15

Go First
06:30

Go First
16:45

Go First
10:50

Go First
11:50

Go First
09:15

Go First
15:45

Go First
21:55

SpiceJet
09:30

IndiGo
14:00

IndiGo
19:05

SpiceJet
16:30

IndiGo
11:55

IndiGo
17:50

IndiGo
12:40

Air Asia
09:15

Air Asia
['12:40\n\nAir Asia', '06:05\n\nGo First', '18:40\n\nGo First', '09:40\n\nGo First', '09:40\n\nGo First', '16:45\n\nGo First', '16:35\n\nGo First', '02:00\n\nGo First', '14:20\n\nGo First', '08:00\n\nGo First', '12:45\n\nGo First', '19:55\n\nGo First', '12:30\n\nGo First', '06:10\n\nIndiGo', '20:40\n\nVistara', '06:10\n\nAir India', '09:05\n\nVistara', '09:45\n\nAir India', '13:30\n\nAir India', '14:15\n\nVistara', '16:05\n\nVistara', '17:20\n\nAir India', '19:40\n\nSpiceJet', '22:30\n\nSpiceJet', '17:35\n\nVistara', '09:15\n\nAir Asia', '07:20\n\nGo First', '22:00\n\nGo First', '18:50\n\nGo First', '11:50\n\nGo First', '09:15\n\nGo First', '16:45\n\nGo First', '10:50\n\nGo First', '17:20\n\nGo First', '13:00\n\nGo First', '05:40\n\nGo First', '09:15\n\nGo First', '06:30\n\nGo First', '16:45\n\nGo First', '10:50\n\nGo First', '11:50\n\nGo First', '09:15\n\nGo First', '15:45\n\nGo First', '21:55\n\nSpiceJet', '09:30\n\nIndiGo', '14:00\n\nIndiGo', '19:05\n\nSpiceJet', '16:30\n\nIndiGo', '11:55\n\nIndiGo', '17:50\n\nIndiGo', '12:40\n\nAir Asia', '09:15\n\nAir Asia']

In [46]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-4']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

20:55
08:40
21:25
15:20
16:30
23:40
00:05
+ 1 day
09:55
22:20
16:10
22:20
07:25
+ 1 day
00:05
+ 1 day
08:50
23:20
08:55
11:50
12:30
16:15
17:00
18:50
20:05
22:25
01:15
+ 1 day
20:25
20:00
10:10
00:50
+ 1 day
23:30
17:20
15:30
23:30
18:00
00:30
+ 1 day
21:30
14:20
18:00
15:45
02:00
+ 1 day
20:10
21:30
19:00
02:20
+ 1 day
00:35
+ 1 day
12:15
16:45
21:50
19:20
14:50
20:45
20:55
20:00
['20:55', '08:40', '21:25', '15:20', '16:30', '23:40', '00:05\n+ 1 day', '09:55', '22:20', '16:10', '22:20', '07:25\n+ 1 day', '00:05\n+ 1 day', '08:50', '23:20', '08:55', '11:50', '12:30', '16:15', '17:00', '18:50', '20:05', '22:25', '01:15\n+ 1 day', '20:25', '20:00', '10:10', '00:50\n+ 1 day', '23:30', '17:20', '15:30', '23:30', '18:00', '00:30\n+ 1 day', '21:30', '14:20', '18:00', '15:45', '02:00\n+ 1 day', '20:10', '21:30', '19:00', '02:20\n+ 1 day', '00:35\n+ 1 day', '12:15', '16:45', '21:50', '19:20', '14:50', '20:45', '20:55', '20:00']

In [47]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont no-wrap pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

8h 15m

2 Stop(s)
2h 35m

Non Stop
2h 45m

Non Stop
5h 40m

1 Stop
6h 50m

1 Stop
6h 55m

1 Stop
7h 30m

1 Stop
7h 55m

1 Stop
8h 00m

1 Stop
8h 10m

1 Stop
9h 35m

1 Stop
11h 30m

1 Stop
11h 35m

1 Stop
2h 40m

Non Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 50m

Non Stop
10h 45m

1 Stop
2h 50m

Non Stop
2h 50m

Non Stop
4h 40m

1 Stop
5h 30m

1 Stop
6h 15m

1 Stop
6h 45m

1 Stop
7h 10m

1 Stop
7h 10m

1 Stop
8h 30m

1 Stop
8h 40m

1 Stop
8h 45m

1 Stop
9h 15m

1 Stop
9h 15m

1 Stop
9h 20m

1 Stop
9h 40m

1 Stop
9h 45m

1 Stop
10h 35m

1 Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 50m

Non Stop
2h 55m

Non Stop
2h 55m

Non Stop
8h 15m

2 Stop(s)
10h 45m

1 Stop
['8h 15m\n\n2 Stop(s) ', '2h 35m\n\nNon Stop', '2h 45m\n\nNon Stop', '5h 40m\n\n1 Stop ', '6h 50m\n\n1 Stop ', '6h 55m\n\n1 Stop ', '7h 30m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 10m\n\n1 Stop ', '9h 35m\n\n1 Stop ', '11h 30m\n\n1 Stop ', '11h 35m\n\n1 Stop ', '2h 40m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 50m\n\nNon Stop', '10h 45m\n\n1 Stop ', '2h 50m\n\nNon Stop', '2h 50m\n\nNon Stop', '4h 40m\n\n1 Stop ', '5h 30m\n\n1 Stop ', '6h 15m\n\n1 Stop ', '6h 45m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '8h 30m\n\n1 Stop ', '8h 40m\n\n1 Stop ', '8h 45m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 20m\n\n1 Stop ', '9h 40m\n\n1 Stop ', '9h 45m\n\n1 Stop ', '10h 35m\n\n1 Stop ', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 50m\n\nNon Stop', '2h 55m\n\nNon Stop', '2h 55m\n\nNon Stop', '8h 15m\n\n2 Stop(s)', '10h 45m\n\n1 Stop']

In [48]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-16']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

7,423
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,484
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,488
7,488
7,488
7,488
7,488
7,488
7,488
['7,423', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,484', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488']

In [49]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights[0:50]
Flight['Dept Time']=dept[0:50]
Flight['Arr Time']=arr[0:50]
Flight['Duration']=duration[0:50]
Flight['Price']=price[0:50]
Flight.head()

  Airline Name          Dept Time Arr Time              Duration  Price
0     Air Asia  12:40\n\nAir Asia    20:55  8h 15m\n\n2 Stop(s)   7,423
1     Go First  06:05\n\nGo First    08:40    2h 35m\n\nNon Stop  7,424
2     Go First  18:40\n\nGo First    21:25    2h 45m\n\nNon Stop  7,424
3     Go First  09:40\n\nGo First    15:20     5h 40m\n\n1 Stop   7,424
4     Go First  09:40\n\nGo First    16:30     6h 50m\n\n1 Stop   7,424

In [50]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails7.csv', index=False)

Now For 28th Jan

In [51]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&arrivalDate=28%2F01%2F2022&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=28%2F01%2F2022&hb=0&noOfSegments=2&origin=DEL&originCountry=IN&type=R&unique=1429036539975&version=1.1&viewName=normal"

In [52]:
driver.get(url)

In [53]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
IndiGo
Vistara
Air India
Vistara
Air India
Air India
Vistara
Vistara
Air India
SpiceJet
SpiceJet
Air Asia
Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
SpiceJet
IndiGo
IndiGo
SpiceJet
IndiGo
Air Asia
Air Asia
['Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'IndiGo', 'Vistara', 'Air India', 'Vistara', 'Air India', 'Air India', 'Vistara', 'Vistara', 'Air India', 'SpiceJet', 'SpiceJet', 'Air Asia', 'Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'SpiceJet', 'IndiGo', 'IndiGo', 'SpiceJet', 'IndiGo', 'Air Asia', 'Air Asia']

In [54]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-4']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

12:40

Air Asia
06:05

Go First
18:40

Go First
09:40

Go First
09:40

Go First
16:45

Go First
16:35

Go First
02:00

Go First
09:20

Go First
14:20

Go First
08:00

Go First
16:10

Go First
12:45

Go First
05:35

SpiceJet
06:10

IndiGo
20:40

Vistara
06:10

Air India
09:05

Vistara
09:45

Air India
13:30

Air India
14:15

Vistara
16:05

Vistara
17:20

Air India
19:40

SpiceJet
22:30

SpiceJet
07:20

Air Asia
09:15

Air Asia
07:20

Go First
22:00

Go First
18:50

Go First
11:50

Go First
09:15

Go First
12:20

Go First
16:45

Go First
10:50

Go First
17:20

Go First
13:00

Go First
05:40

Go First
09:15

Go First
06:30

Go First
16:45

Go First
10:50

Go First
11:50

Go First
09:15

Go First
21:55

SpiceJet
05:55

SpiceJet
09:30

IndiGo
14:00

IndiGo
19:05

SpiceJet
16:30

IndiGo
12:40

Air Asia
07:20

Air Asia
['12:40\n\nAir Asia', '06:05\n\nGo First', '18:40\n\nGo First', '09:40\n\nGo First', '09:40\n\nGo First', '16:45\n\nGo First', '16:35\n\nGo First', '02:00\n\nGo First', '09:20\n\nGo First', '14:20\n\nGo First', '08:00\n\nGo First', '16:10\n\nGo First', '12:45\n\nGo First', '05:35\n\nSpiceJet', '06:10\n\nIndiGo', '20:40\n\nVistara', '06:10\n\nAir India', '09:05\n\nVistara', '09:45\n\nAir India', '13:30\n\nAir India', '14:15\n\nVistara', '16:05\n\nVistara', '17:20\n\nAir India', '19:40\n\nSpiceJet', '22:30\n\nSpiceJet', '07:20\n\nAir Asia', '09:15\n\nAir Asia', '07:20\n\nGo First', '22:00\n\nGo First', '18:50\n\nGo First', '11:50\n\nGo First', '09:15\n\nGo First', '12:20\n\nGo First', '16:45\n\nGo First', '10:50\n\nGo First', '17:20\n\nGo First', '13:00\n\nGo First', '05:40\n\nGo First', '09:15\n\nGo First', '06:30\n\nGo First', '16:45\n\nGo First', '10:50\n\nGo First', '11:50\n\nGo First', '09:15\n\nGo First', '21:55\n\nSpiceJet', '05:55\n\nSpiceJet', '09:30\n\nIndiGo', '14:00\n\nIndiGo', '19:05\n\nSpiceJet', '16:30\n\nIndiGo', '12:40\n\nAir Asia', '07:20\n\nAir Asia']

In [55]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-4']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

20:55
08:40
21:25
15:20
16:30
23:40
00:05
+ 1 day
09:55
17:20
22:20
16:10
00:20
+ 1 day
22:20
08:05
08:50
23:20
08:55
11:50
12:30
16:15
17:00
18:50
20:05
22:25
01:15
+ 1 day
14:55
20:00
10:10
00:50
+ 1 day
23:30
17:20
15:30
19:05
23:30
18:00
00:30
+ 1 day
21:30
14:20
18:00
15:45
02:00
+ 1 day
20:10
21:30
19:00
00:35
+ 1 day
08:40
12:15
16:45
21:50
19:20
20:55
14:55
['20:55', '08:40', '21:25', '15:20', '16:30', '23:40', '00:05\n+ 1 day', '09:55', '17:20', '22:20', '16:10', '00:20\n+ 1 day', '22:20', '08:05', '08:50', '23:20', '08:55', '11:50', '12:30', '16:15', '17:00', '18:50', '20:05', '22:25', '01:15\n+ 1 day', '14:55', '20:00', '10:10', '00:50\n+ 1 day', '23:30', '17:20', '15:30', '19:05', '23:30', '18:00', '00:30\n+ 1 day', '21:30', '14:20', '18:00', '15:45', '02:00\n+ 1 day', '20:10', '21:30', '19:00', '00:35\n+ 1 day', '08:40', '12:15', '16:45', '21:50', '19:20', '20:55', '14:55']

In [56]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont no-wrap pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

8h 15m

2 Stop(s)
2h 35m

Non Stop
2h 45m

Non Stop
5h 40m

1 Stop
6h 50m

1 Stop
6h 55m

1 Stop
7h 30m

1 Stop
7h 55m

1 Stop
8h 00m

1 Stop
8h 00m

1 Stop
8h 10m

1 Stop
8h 10m

1 Stop
9h 35m

1 Stop
2h 30m

Non Stop
2h 40m

Non Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
7h 35m

1 Stop
10h 45m

1 Stop
2h 50m

Non Stop
2h 50m

Non Stop
4h 40m

1 Stop
5h 30m

1 Stop
6h 15m

1 Stop
6h 45m

1 Stop
6h 45m

1 Stop
7h 10m

1 Stop
7h 10m

1 Stop
8h 30m

1 Stop
8h 40m

1 Stop
8h 45m

1 Stop
9h 15m

1 Stop
9h 15m

1 Stop
9h 20m

1 Stop
9h 40m

1 Stop
9h 45m

1 Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 50m

Non Stop
8h 15m

2 Stop(s)
7h 35m

1 Stop
['8h 15m\n\n2 Stop(s) ', '2h 35m\n\nNon Stop', '2h 45m\n\nNon Stop', '5h 40m\n\n1 Stop ', '6h 50m\n\n1 Stop ', '6h 55m\n\n1 Stop ', '7h 30m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 10m\n\n1 Stop ', '8h 10m\n\n1 Stop ', '9h 35m\n\n1 Stop ', '2h 30m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '7h 35m\n\n1 Stop ', '10h 45m\n\n1 Stop ', '2h 50m\n\nNon Stop', '2h 50m\n\nNon Stop', '4h 40m\n\n1 Stop ', '5h 30m\n\n1 Stop ', '6h 15m\n\n1 Stop ', '6h 45m\n\n1 Stop ', '6h 45m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '8h 30m\n\n1 Stop ', '8h 40m\n\n1 Stop ', '8h 45m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 20m\n\n1 Stop ', '9h 40m\n\n1 Stop ', '9h 45m\n\n1 Stop ', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 50m\n\nNon Stop', '8h 15m\n\n2 Stop(s)', '7h 35m\n\n1 Stop']

In [57]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-16']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

7,423
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,484
7,484
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,488
7,488
7,488
7,488
7,488
7,488
['7,423', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,484', '7,484', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488']

In [58]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights[0:50]
Flight['Dept Time']=dept[0:50]
Flight['Arr Time']=arr[0:50]
Flight['Duration']=duration[0:50]
Flight['Price']=price[0:50]
Flight.head()

  Airline Name          Dept Time Arr Time              Duration  Price
0     Air Asia  12:40\n\nAir Asia    20:55  8h 15m\n\n2 Stop(s)   7,423
1     Go First  06:05\n\nGo First    08:40    2h 35m\n\nNon Stop  7,424
2     Go First  18:40\n\nGo First    21:25    2h 45m\n\nNon Stop  7,424
3     Go First  09:40\n\nGo First    15:20     5h 40m\n\n1 Stop   7,424
4     Go First  09:40\n\nGo First    16:30     6h 50m\n\n1 Stop   7,424

In [59]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails8.csv', index=False)

Now For 29th Jan

In [60]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&arrivalDate=29%2F01%2F2022&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=29%2F01%2F2022&hb=0&noOfSegments=2&origin=DEL&originCountry=IN&type=R&unique=594280919765&version=1.1&viewName=normal"

In [61]:
driver.get(url)

In [62]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
IndiGo
Vistara
Air India
Vistara
Air India
Air India
Vistara
Vistara
Air India
SpiceJet
SpiceJet
SpiceJet
Vistara
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
SpiceJet
IndiGo
IndiGo
SpiceJet
SpiceJet
IndiGo
IndiGo
IndiGo
Air Asia
Go First
['Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'IndiGo', 'Vistara', 'Air India', 'Vistara', 'Air India', 'Air India', 'Vistara', 'Vistara', 'Air India', 'SpiceJet', 'SpiceJet', 'SpiceJet', 'Vistara', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'SpiceJet', 'IndiGo', 'IndiGo', 'SpiceJet', 'SpiceJet', 'IndiGo', 'IndiGo', 'IndiGo', 'Air Asia', 'Go First']

In [63]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-4']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

12:40

Air Asia
06:05

Go First
18:40

Go First
08:45

Go First
02:00

Go First
09:20

Go First
14:20

Go First
16:10

Go First
12:45

Go First
22:30

Go First
05:50

Go First
05:35

SpiceJet
06:10

IndiGo
20:40

Vistara
06:10

Air India
09:05

Vistara
09:45

Air India
13:30

Air India
14:15

Vistara
16:05

Vistara
17:20

Air India
19:40

SpiceJet
22:00

SpiceJet
22:30

SpiceJet
17:35

Vistara
07:20

Go First
22:00

Go First
18:50

Go First
16:45

Go First
09:15

Go First
12:20

Go First
16:45

Go First
10:50

Go First
17:20

Go First
05:40

Go First
09:15

Go First
06:30

Go First
16:45

Go First
10:50

Go First
09:15

Go First
15:45

Go First
21:55

SpiceJet
05:55

SpiceJet
09:30

IndiGo
14:00

IndiGo
18:35

SpiceJet
19:05

SpiceJet
16:30

IndiGo
11:55

IndiGo
17:50

IndiGo
12:40

Air Asia
22:00

Go First
['12:40\n\nAir Asia', '06:05\n\nGo First', '18:40\n\nGo First', '08:45\n\nGo First', '02:00\n\nGo First', '09:20\n\nGo First', '14:20\n\nGo First', '16:10\n\nGo First', '12:45\n\nGo First', '22:30\n\nGo First', '05:50\n\nGo First', '05:35\n\nSpiceJet', '06:10\n\nIndiGo', '20:40\n\nVistara', '06:10\n\nAir India', '09:05\n\nVistara', '09:45\n\nAir India', '13:30\n\nAir India', '14:15\n\nVistara', '16:05\n\nVistara', '17:20\n\nAir India', '19:40\n\nSpiceJet', '22:00\n\nSpiceJet', '22:30\n\nSpiceJet', '17:35\n\nVistara', '07:20\n\nGo First', '22:00\n\nGo First', '18:50\n\nGo First', '16:45\n\nGo First', '09:15\n\nGo First', '12:20\n\nGo First', '16:45\n\nGo First', '10:50\n\nGo First', '17:20\n\nGo First', '05:40\n\nGo First', '09:15\n\nGo First', '06:30\n\nGo First', '16:45\n\nGo First', '10:50\n\nGo First', '09:15\n\nGo First', '15:45\n\nGo First', '21:55\n\nSpiceJet', '05:55\n\nSpiceJet', '09:30\n\nIndiGo', '14:00\n\nIndiGo', '18:35\n\nSpiceJet', '19:05\n\nSpiceJet', '16:30\n\nIndiGo', '11:55\n\nIndiGo', '17:50\n\nIndiGo', '12:40\n\nAir Asia', '22:00\n\nGo First']

In [64]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-4']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

20:55
08:40
21:25
16:10
09:55
17:20
22:20
00:20
+ 1 day
22:20
09:55
+ 1 day
17:20
08:05
08:50
23:20
08:55
11:50
12:30
16:15
17:00
18:50
20:05
22:25
00:45
+ 1 day
01:15
+ 1 day
20:25
10:10
00:50
+ 1 day
23:30
22:55
15:30
19:05
23:30
18:00
00:30
+ 1 day
13:10
18:00
15:45
02:00
+ 1 day
20:10
19:00
02:20
+ 1 day
00:35
+ 1 day
08:40
12:15
16:45
21:20
21:50
19:20
14:50
20:45
20:55
00:50
+ 1 day
['20:55', '08:40', '21:25', '16:10', '09:55', '17:20', '22:20', '00:20\n+ 1 day', '22:20', '09:55\n+ 1 day', '17:20', '08:05', '08:50', '23:20', '08:55', '11:50', '12:30', '16:15', '17:00', '18:50', '20:05', '22:25', '00:45\n+ 1 day', '01:15\n+ 1 day', '20:25', '10:10', '00:50\n+ 1 day', '23:30', '22:55', '15:30', '19:05', '23:30', '18:00', '00:30\n+ 1 day', '13:10', '18:00', '15:45', '02:00\n+ 1 day', '20:10', '19:00', '02:20\n+ 1 day', '00:35\n+ 1 day', '08:40', '12:15', '16:45', '21:20', '21:50', '19:20', '14:50', '20:45', '20:55', '00:50\n+ 1 day']

In [65]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont no-wrap pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

8h 15m

2 Stop(s)
2h 35m

Non Stop
2h 45m

Non Stop
7h 25m

1 Stop
7h 55m

1 Stop
8h 00m

1 Stop
8h 00m

1 Stop
8h 10m

1 Stop
9h 35m

1 Stop
11h 25m

1 Stop
11h 30m

1 Stop
2h 30m

Non Stop
2h 40m

Non Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 50m

Non Stop
2h 50m

Non Stop
2h 50m

Non Stop
4h 40m

1 Stop
6h 10m

1 Stop
6h 15m

1 Stop
6h 45m

1 Stop
6h 45m

1 Stop
7h 10m

1 Stop
7h 10m

1 Stop
7h 30m

1 Stop
8h 45m

1 Stop
9h 15m

1 Stop
9h 15m

1 Stop
9h 20m

1 Stop
9h 45m

1 Stop
10h 35m

1 Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 50m

Non Stop
2h 55m

Non Stop
2h 55m

Non Stop
8h 15m

2 Stop(s)
2h 50m

Non Stop
['8h 15m\n\n2 Stop(s) ', '2h 35m\n\nNon Stop', '2h 45m\n\nNon Stop', '7h 25m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 10m\n\n1 Stop ', '9h 35m\n\n1 Stop ', '11h 25m\n\n1 Stop ', '11h 30m\n\n1 Stop ', '2h 30m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 50m\n\nNon Stop', '2h 50m\n\nNon Stop', '2h 50m\n\nNon Stop', '4h 40m\n\n1 Stop ', '6h 10m\n\n1 Stop ', '6h 15m\n\n1 Stop ', '6h 45m\n\n1 Stop ', '6h 45m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '7h 30m\n\n1 Stop ', '8h 45m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 20m\n\n1 Stop ', '9h 45m\n\n1 Stop ', '10h 35m\n\n1 Stop ', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 50m\n\nNon Stop', '2h 55m\n\nNon Stop', '2h 55m\n\nNon Stop', '8h 15m\n\n2 Stop(s)', '2h 50m\n\nNon Stop']

In [66]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-16']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

7,423
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,488
7,488
7,488
7,488
7,488
7,488
7,488
7,488
7,488
['7,423', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488']

In [67]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights[0:50]
Flight['Dept Time']=dept[0:50]
Flight['Arr Time']=arr[0:50]
Flight['Duration']=duration[0:50]
Flight['Price']=price[0:50]
Flight.head()

  Airline Name          Dept Time Arr Time              Duration  Price
0     Air Asia  12:40\n\nAir Asia    20:55  8h 15m\n\n2 Stop(s)   7,423
1     Go First  06:05\n\nGo First    08:40    2h 35m\n\nNon Stop  7,424
2     Go First  18:40\n\nGo First    21:25    2h 45m\n\nNon Stop  7,424
3     Go First  08:45\n\nGo First    16:10     7h 25m\n\n1 Stop   7,424
4     Go First  02:00\n\nGo First    09:55     7h 55m\n\n1 Stop   7,424

In [68]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails9.csv', index=False)

Now For 30th Jan

In [69]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&arrivalDate=30%2F01%2F2022&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=30%2F01%2F2022&hb=0&noOfSegments=2&origin=DEL&originCountry=IN&type=R&unique=1047274567657&version=1.1&viewName=normal"

In [70]:
driver.get(url)

In [71]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
SpiceJet
IndiGo
Vistara
Air India
Vistara
Air India
Air India
Vistara
Vistara
Air India
SpiceJet
Air Asia
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
SpiceJet
IndiGo
IndiGo
SpiceJet
SpiceJet
IndiGo
IndiGo
Air Asia
Air Asia
['Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'SpiceJet', 'IndiGo', 'Vistara', 'Air India', 'Vistara', 'Air India', 'Air India', 'Vistara', 'Vistara', 'Air India', 'SpiceJet', 'Air Asia', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'SpiceJet', 'IndiGo', 'IndiGo', 'SpiceJet', 'SpiceJet', 'IndiGo', 'IndiGo', 'Air Asia', 'Air Asia']

In [72]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-4']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

12:40

Air Asia
06:05

Go First
18:40

Go First
09:45

Go First
08:40

Go First
09:45

Go First
16:45

Go First
02:00

Go First
09:20

Go First
14:20

Go First
08:00

Go First
16:10

Go First
22:45

Go First
05:05

SpiceJet
05:35

SpiceJet
06:10

IndiGo
20:40

Vistara
06:10

Air India
09:05

Vistara
09:45

Air India
13:30

Air India
14:15

Vistara
16:05

Vistara
17:20

Air India
19:40

SpiceJet
09:15

Air Asia
05:30

Go First
22:00

Go First
19:00

Go First
11:50

Go First
22:00

Go First
09:15

Go First
12:20

Go First
15:30

Go First
16:45

Go First
10:50

Go First
17:20

Go First
15:30

Go First
13:00

Go First
09:15

Go First
06:30

Go First
16:45

Go First
21:55

SpiceJet
05:55

SpiceJet
09:30

IndiGo
14:00

IndiGo
18:35

SpiceJet
19:05

SpiceJet
16:30

IndiGo
11:55

IndiGo
12:40

Air Asia
09:15

Air Asia
['12:40\n\nAir Asia', '06:05\n\nGo First', '18:40\n\nGo First', '09:45\n\nGo First', '08:40\n\nGo First', '09:45\n\nGo First', '16:45\n\nGo First', '02:00\n\nGo First', '09:20\n\nGo First', '14:20\n\nGo First', '08:00\n\nGo First', '16:10\n\nGo First', '22:45\n\nGo First', '05:05\n\nSpiceJet', '05:35\n\nSpiceJet', '06:10\n\nIndiGo', '20:40\n\nVistara', '06:10\n\nAir India', '09:05\n\nVistara', '09:45\n\nAir India', '13:30\n\nAir India', '14:15\n\nVistara', '16:05\n\nVistara', '17:20\n\nAir India', '19:40\n\nSpiceJet', '09:15\n\nAir Asia', '05:30\n\nGo First', '22:00\n\nGo First', '19:00\n\nGo First', '11:50\n\nGo First', '22:00\n\nGo First', '09:15\n\nGo First', '12:20\n\nGo First', '15:30\n\nGo First', '16:45\n\nGo First', '10:50\n\nGo First', '17:20\n\nGo First', '15:30\n\nGo First', '13:00\n\nGo First', '09:15\n\nGo First', '06:30\n\nGo First', '16:45\n\nGo First', '21:55\n\nSpiceJet', '05:55\n\nSpiceJet', '09:30\n\nIndiGo', '14:00\n\nIndiGo', '18:35\n\nSpiceJet', '19:05\n\nSpiceJet', '16:30\n\nIndiGo', '11:55\n\nIndiGo', '12:40\n\nAir Asia', '09:15\n\nAir Asia']

In [73]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-4']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

20:55
08:40
21:25
15:20
15:10
16:30
23:40
09:55
17:20
22:20
16:10
00:20
+ 1 day
07:25
+ 1 day
07:35
08:05
08:50
23:20
08:55
11:50
12:30
16:15
17:00
18:50
20:05
22:25
20:00
08:20
00:50
+ 1 day
23:30
17:20
03:35
+ 1 day
15:30
19:05
22:15
23:30
18:00
00:30
+ 1 day
23:30
21:30
18:00
15:45
02:00
+ 1 day
00:35
+ 1 day
08:40
12:15
16:45
21:20
21:50
19:20
14:50
20:55
20:00
['20:55', '08:40', '21:25', '15:20', '15:10', '16:30', '23:40', '09:55', '17:20', '22:20', '16:10', '00:20\n+ 1 day', '07:25\n+ 1 day', '07:35', '08:05', '08:50', '23:20', '08:55', '11:50', '12:30', '16:15', '17:00', '18:50', '20:05', '22:25', '20:00', '08:20', '00:50\n+ 1 day', '23:30', '17:20', '03:35\n+ 1 day', '15:30', '19:05', '22:15', '23:30', '18:00', '00:30\n+ 1 day', '23:30', '21:30', '18:00', '15:45', '02:00\n+ 1 day', '00:35\n+ 1 day', '08:40', '12:15', '16:45', '21:20', '21:50', '19:20', '14:50', '20:55', '20:00']

In [74]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont no-wrap pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

8h 15m

2 Stop(s)
2h 35m

Non Stop
2h 45m

Non Stop
5h 35m

1 Stop
6h 30m

1 Stop
6h 45m

1 Stop
6h 55m

1 Stop
7h 55m

1 Stop
8h 00m

1 Stop
8h 00m

1 Stop
8h 10m

1 Stop
8h 10m

1 Stop
8h 40m

1 Stop
2h 30m

Non Stop
2h 30m

Non Stop
2h 40m

Non Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
10h 45m

1 Stop
2h 50m

Non Stop
2h 50m

Non Stop
4h 30m

1 Stop
5h 30m

1 Stop
5h 35m

1 Stop
6h 15m

1 Stop
6h 45m

1 Stop
6h 45m

1 Stop
6h 45m

1 Stop
7h 10m

1 Stop
7h 10m

1 Stop
8h 00m

1 Stop
8h 30m

1 Stop
8h 45m

1 Stop
9h 15m

1 Stop
9h 15m

1 Stop
2h 40m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 45m

Non Stop
2h 50m

Non Stop
2h 55m

Non Stop
8h 15m

2 Stop(s)
10h 45m

1 Stop
['8h 15m\n\n2 Stop(s) ', '2h 35m\n\nNon Stop', '2h 45m\n\nNon Stop', '5h 35m\n\n1 Stop ', '6h 30m\n\n1 Stop ', '6h 45m\n\n1 Stop ', '6h 55m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 10m\n\n1 Stop ', '8h 10m\n\n1 Stop ', '8h 40m\n\n1 Stop ', '2h 30m\n\nNon Stop', '2h 30m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '10h 45m\n\n1 Stop ', '2h 50m\n\nNon Stop', '2h 50m\n\nNon Stop', '4h 30m\n\n1 Stop ', '5h 30m\n\n1 Stop ', '5h 35m\n\n1 Stop ', '6h 15m\n\n1 Stop ', '6h 45m\n\n1 Stop ', '6h 45m\n\n1 Stop ', '6h 45m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '7h 10m\n\n1 Stop ', '8h 00m\n\n1 Stop ', '8h 30m\n\n1 Stop ', '8h 45m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '2h 40m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 45m\n\nNon Stop', '2h 50m\n\nNon Stop', '2h 55m\n\nNon Stop', '8h 15m\n\n2 Stop(s)', '10h 45m\n\n1 Stop']

In [75]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-16']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

7,423
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,424
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,425
7,484
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,487
7,488
7,488
7,488
7,488
7,488
7,488
7,488
7,488
['7,423', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,424', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,425', '7,484', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,487', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488', '7,488']

In [76]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights[0:50]
Flight['Dept Time']=dept[0:50]
Flight['Arr Time']=arr[0:50]
Flight['Duration']=duration[0:50]
Flight['Price']=price[0:50]
Flight.head()

  Airline Name          Dept Time Arr Time              Duration  Price
0     Air Asia  12:40\n\nAir Asia    20:55  8h 15m\n\n2 Stop(s)   7,423
1     Go First  06:05\n\nGo First    08:40    2h 35m\n\nNon Stop  7,424
2     Go First  18:40\n\nGo First    21:25    2h 45m\n\nNon Stop  7,424
3     Go First  09:45\n\nGo First    15:20     5h 35m\n\n1 Stop   7,424
4     Go First  08:40\n\nGo First    15:10     6h 30m\n\n1 Stop   7,424

In [77]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails10.csv', index=False)

Mumbai To Chennai 23rd jan

In [98]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=23%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=221050589529&version=1.1&viewName=normal"

In [99]:
driver.get(url)

In [100]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

SpiceJet
Go First
IndiGo
IndiGo
Air India
IndiGo
IndiGo
Air India
IndiGo
Vistara
IndiGo
Vistara
IndiGo
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['SpiceJet', 'Go First', 'IndiGo', 'IndiGo', 'Air India', 'IndiGo', 'IndiGo', 'Air India', 'IndiGo', 'Vistara', 'IndiGo', 'Vistara', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [101]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

19:30

Mumbai
20:15

Mumbai
16:25

Mumbai
04:35

Mumbai
09:00

Mumbai
15:15

Mumbai
23:05

Mumbai
05:20

Mumbai
10:30

Mumbai
17:50

Mumbai
19:30

Mumbai
21:00

Mumbai
09:15

Mumbai
09:45

Mumbai
10:45

Mumbai
14:20

Mumbai
17:10

Mumbai
06:15

Mumbai
06:55

Mumbai
10:15

Mumbai
16:20

Mumbai
09:30

Mumbai
08:30

Mumbai
06:15

Mumbai
06:55

Mumbai
['19:30\n\nMumbai', '20:15\n\nMumbai', '16:25\n\nMumbai', '04:35\n\nMumbai', '09:00\n\nMumbai', '15:15\n\nMumbai', '23:05\n\nMumbai', '05:20\n\nMumbai', '10:30\n\nMumbai', '17:50\n\nMumbai', '19:30\n\nMumbai', '21:00\n\nMumbai', '09:15\n\nMumbai', '09:45\n\nMumbai', '10:45\n\nMumbai', '14:20\n\nMumbai', '17:10\n\nMumbai', '06:15\n\nMumbai', '06:55\n\nMumbai', '10:15\n\nMumbai', '16:20\n\nMumbai', '09:30\n\nMumbai', '08:30\n\nMumbai', '06:15\n\nMumbai', '06:55\n\nMumbai']

In [102]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

21:20

Chennai
22:20

Chennai
18:15

Chennai
06:30

Chennai
10:55

Chennai
17:10

Chennai
01:00
+ 1 day

Chennai
07:20

Chennai
12:30

Chennai
19:55

Chennai
21:35

Chennai
23:05

Chennai
17:15

Chennai
11:50

Chennai
15:05

Chennai
19:15

Chennai
22:05

Chennai
11:15

Chennai
12:00

Chennai
15:55

Chennai
22:05

Chennai
15:55

Chennai
15:55

Chennai
15:05

Chennai
15:55

Chennai
['21:20\n\nChennai', '22:20\n\nChennai', '18:15\n\nChennai', '06:30\n\nChennai', '10:55\n\nChennai', '17:10\n\nChennai', '01:00\n+ 1 day\n\nChennai', '07:20\n\nChennai', '12:30\n\nChennai', '19:55\n\nChennai', '21:35\n\nChennai', '23:05\n\nChennai', '17:15\n\nChennai', '11:50\n\nChennai', '15:05\n\nChennai', '19:15\n\nChennai', '22:05\n\nChennai', '11:15\n\nChennai', '12:00\n\nChennai', '15:55\n\nChennai', '22:05\n\nChennai', '15:55\n\nChennai', '15:55\n\nChennai', '15:05\n\nChennai', '15:55\n\nChennai']

In [103]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 50m

Non Stop
2h 05m

Non Stop
1h 50m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
8h 00m

1 Stop
2h 05m

Non Stop
4h 20m

1 Stop
4h 55m

1 Stop
4h 55m

1 Stop
5h 00m

1 Stop
5h 05m

1 Stop
5h 40m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
7h 25m

1 Stop
8h 50m

1 Stop
9h 00m

1 Stop
['1h 50m\n\nNon Stop', '2h 05m\n\nNon Stop', '1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '8h 00m\n\n1 Stop ', '2h 05m\n\nNon Stop', '4h 20m\n\n1 Stop ', '4h 55m\n\n1 Stop ', '4h 55m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 05m\n\n1 Stop ', '5h 40m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '7h 25m\n\n1 Stop ', '8h 50m\n\n1 Stop ', '9h 00m\n\n1 Stop ']

In [104]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,942
5,942
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
7,991
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
['5,942', '5,942', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '7,991', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043']

In [105]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time          Arr Time            Duration  Price
0     SpiceJet  19:30\n\nMumbai  21:20\n\nChennai  1h 50m\n\nNon Stop  5,942
1     Go First  20:15\n\nMumbai  22:20\n\nChennai  2h 05m\n\nNon Stop  5,942
2       IndiGo  16:25\n\nMumbai  18:15\n\nChennai  1h 50m\n\nNon Stop  5,943
3       IndiGo  04:35\n\nMumbai  06:30\n\nChennai  1h 55m\n\nNon Stop  5,943
4    Air India  09:00\n\nMumbai  10:55\n\nChennai  1h 55m\n\nNon Stop  5,943

In [106]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails11.csv', index=False)

now for 24th jan

In [107]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=24%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1213091516835&version=1.1&viewName=normal"

In [108]:
driver.get(url)

In [109]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

SpiceJet
Go First
SpiceJet
Go First
IndiGo
IndiGo
Air India
IndiGo
IndiGo
Vistara
IndiGo
Vistara
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['SpiceJet', 'Go First', 'SpiceJet', 'Go First', 'IndiGo', 'IndiGo', 'Air India', 'IndiGo', 'IndiGo', 'Vistara', 'IndiGo', 'Vistara', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [110]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

19:30

Mumbai
05:45

Mumbai
06:00

Mumbai
20:15

Mumbai
16:25

Mumbai
04:35

Mumbai
09:00

Mumbai
15:15

Mumbai
10:30

Mumbai
17:50

Mumbai
19:30

Mumbai
21:00

Mumbai
09:45

Mumbai
09:15

Mumbai
10:45

Mumbai
06:50

Mumbai
14:20

Mumbai
06:15

Mumbai
16:20

Mumbai
09:30

Mumbai
12:45

Mumbai
06:50

Mumbai
06:15

Mumbai
06:55

Mumbai
10:45

Mumbai
['19:30\n\nMumbai', '05:45\n\nMumbai', '06:00\n\nMumbai', '20:15\n\nMumbai', '16:25\n\nMumbai', '04:35\n\nMumbai', '09:00\n\nMumbai', '15:15\n\nMumbai', '10:30\n\nMumbai', '17:50\n\nMumbai', '19:30\n\nMumbai', '21:00\n\nMumbai', '09:45\n\nMumbai', '09:15\n\nMumbai', '10:45\n\nMumbai', '06:50\n\nMumbai', '14:20\n\nMumbai', '06:15\n\nMumbai', '16:20\n\nMumbai', '09:30\n\nMumbai', '12:45\n\nMumbai', '06:50\n\nMumbai', '06:15\n\nMumbai', '06:55\n\nMumbai', '10:45\n\nMumbai']

In [111]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

21:20

Chennai
07:40

Chennai
08:00

Chennai
22:20

Chennai
18:15

Chennai
06:30

Chennai
10:55

Chennai
17:10

Chennai
12:30

Chennai
19:55

Chennai
21:35

Chennai
23:05

Chennai
11:50

Chennai
17:15

Chennai
15:05

Chennai
11:15

Chennai
19:15

Chennai
11:15

Chennai
22:05

Chennai
15:55

Chennai
20:05

Chennai
15:05

Chennai
15:05

Chennai
15:55

Chennai
20:05

Chennai
['21:20\n\nChennai', '07:40\n\nChennai', '08:00\n\nChennai', '22:20\n\nChennai', '18:15\n\nChennai', '06:30\n\nChennai', '10:55\n\nChennai', '17:10\n\nChennai', '12:30\n\nChennai', '19:55\n\nChennai', '21:35\n\nChennai', '23:05\n\nChennai', '11:50\n\nChennai', '17:15\n\nChennai', '15:05\n\nChennai', '11:15\n\nChennai', '19:15\n\nChennai', '11:15\n\nChennai', '22:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai', '15:05\n\nChennai', '15:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai']

In [112]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 50m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
1h 50m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
8h 00m

1 Stop
4h 20m

1 Stop
4h 25m

1 Stop
4h 55m

1 Stop
5h 00m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
7h 20m

1 Stop
8h 15m

1 Stop
8h 50m

1 Stop
9h 00m

1 Stop
9h 20m

1 Stop
['1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '8h 00m\n\n1 Stop ', '4h 20m\n\n1 Stop ', '4h 25m\n\n1 Stop ', '4h 55m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '7h 20m\n\n1 Stop ', '8h 15m\n\n1 Stop ', '8h 50m\n\n1 Stop ', '9h 00m\n\n1 Stop ', '9h 20m\n\n1 Stop ']

In [113]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,942
5,942
5,942
5,942
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
6,048
7,991
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
['5,942', '5,942', '5,942', '5,942', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '6,048', '7,991', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043']

In [114]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time          Arr Time            Duration  Price
0     SpiceJet  19:30\n\nMumbai  21:20\n\nChennai  1h 50m\n\nNon Stop  5,942
1     Go First  05:45\n\nMumbai  07:40\n\nChennai  1h 55m\n\nNon Stop  5,942
2     SpiceJet  06:00\n\nMumbai  08:00\n\nChennai  2h 00m\n\nNon Stop  5,942
3     Go First  20:15\n\nMumbai  22:20\n\nChennai  2h 05m\n\nNon Stop  5,942
4       IndiGo  16:25\n\nMumbai  18:15\n\nChennai  1h 50m\n\nNon Stop  5,943

In [115]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails12.csv', index=False)

Now for 25th Jan

In [116]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=25%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1163420986916&version=1.1&viewName=normal"

In [117]:
driver.get(url)

In [118]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
IndiGo
IndiGo
IndiGo
Air India
IndiGo
Air India
IndiGo
Vistara
Vistara
IndiGo
Vistara
SpiceJet
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['Go First', 'IndiGo', 'IndiGo', 'IndiGo', 'Air India', 'IndiGo', 'Air India', 'IndiGo', 'Vistara', 'Vistara', 'IndiGo', 'Vistara', 'SpiceJet', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [119]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

05:45

Mumbai
16:25

Mumbai
21:25

Mumbai
04:35

Mumbai
09:00

Mumbai
15:15

Mumbai
05:20

Mumbai
10:30

Mumbai
09:45

Mumbai
17:50

Mumbai
19:30

Mumbai
21:00

Mumbai
19:30

Mumbai
09:15

Mumbai
10:45

Mumbai
14:20

Mumbai
06:15

Mumbai
16:20

Mumbai
09:30

Mumbai
12:45

Mumbai
06:15

Mumbai
06:55

Mumbai
10:45

Mumbai
12:45

Mumbai
09:30

Mumbai
['05:45\n\nMumbai', '16:25\n\nMumbai', '21:25\n\nMumbai', '04:35\n\nMumbai', '09:00\n\nMumbai', '15:15\n\nMumbai', '05:20\n\nMumbai', '10:30\n\nMumbai', '09:45\n\nMumbai', '17:50\n\nMumbai', '19:30\n\nMumbai', '21:00\n\nMumbai', '19:30\n\nMumbai', '09:15\n\nMumbai', '10:45\n\nMumbai', '14:20\n\nMumbai', '06:15\n\nMumbai', '16:20\n\nMumbai', '09:30\n\nMumbai', '12:45\n\nMumbai', '06:15\n\nMumbai', '06:55\n\nMumbai', '10:45\n\nMumbai', '12:45\n\nMumbai', '09:30\n\nMumbai']

In [120]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

07:40

Chennai
18:15

Chennai
23:15

Chennai
06:30

Chennai
10:55

Chennai
17:10

Chennai
07:20

Chennai
12:30

Chennai
11:50

Chennai
19:55

Chennai
21:35

Chennai
23:05

Chennai
21:20

Chennai
17:15

Chennai
15:05

Chennai
19:15

Chennai
11:15

Chennai
22:05

Chennai
15:55

Chennai
20:05

Chennai
15:05

Chennai
15:55

Chennai
20:05

Chennai
22:05

Chennai
19:15

Chennai
['07:40\n\nChennai', '18:15\n\nChennai', '23:15\n\nChennai', '06:30\n\nChennai', '10:55\n\nChennai', '17:10\n\nChennai', '07:20\n\nChennai', '12:30\n\nChennai', '11:50\n\nChennai', '19:55\n\nChennai', '21:35\n\nChennai', '23:05\n\nChennai', '21:20\n\nChennai', '17:15\n\nChennai', '15:05\n\nChennai', '19:15\n\nChennai', '11:15\n\nChennai', '22:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai', '15:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai', '22:05\n\nChennai', '19:15\n\nChennai']

In [121]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 55m

Non Stop
1h 50m

Non Stop
1h 50m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
1h 50m

Non Stop
8h 00m

1 Stop
4h 20m

1 Stop
4h 55m

1 Stop
5h 00m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
7h 20m

1 Stop
8h 50m

1 Stop
9h 00m

1 Stop
9h 20m

1 Stop
9h 20m

1 Stop
9h 45m

1 Stop
['1h 55m\n\nNon Stop', '1h 50m\n\nNon Stop', '1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '1h 50m\n\nNon Stop', '8h 00m\n\n1 Stop ', '4h 20m\n\n1 Stop ', '4h 55m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '7h 20m\n\n1 Stop ', '8h 50m\n\n1 Stop ', '9h 00m\n\n1 Stop ', '9h 20m\n\n1 Stop ', '9h 20m\n\n1 Stop ', '9h 45m\n\n1 Stop ']

In [122]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,942
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
6,048
7,991
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
['5,942', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '6,048', '7,991', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043']

In [123]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time          Arr Time            Duration  Price
0     Go First  05:45\n\nMumbai  07:40\n\nChennai  1h 55m\n\nNon Stop  5,942
1       IndiGo  16:25\n\nMumbai  18:15\n\nChennai  1h 50m\n\nNon Stop  5,943
2       IndiGo  21:25\n\nMumbai  23:15\n\nChennai  1h 50m\n\nNon Stop  5,943
3       IndiGo  04:35\n\nMumbai  06:30\n\nChennai  1h 55m\n\nNon Stop  5,943
4    Air India  09:00\n\nMumbai  10:55\n\nChennai  1h 55m\n\nNon Stop  5,943

In [124]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails13.csv', index=False)

Now for 26th Jan

In [125]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=26%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1000035269613&version=1.1&viewName=normal"

In [126]:
driver.get(url)

In [127]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

SpiceJet
Go First
IndiGo
IndiGo
Air India
IndiGo
Air India
IndiGo
IndiGo
Vistara
IndiGo
Vistara
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['SpiceJet', 'Go First', 'IndiGo', 'IndiGo', 'Air India', 'IndiGo', 'Air India', 'IndiGo', 'IndiGo', 'Vistara', 'IndiGo', 'Vistara', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [128]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

19:30

Mumbai
05:45

Mumbai
16:25

Mumbai
21:25

Mumbai
09:00

Mumbai
15:15

Mumbai
05:20

Mumbai
07:15

Mumbai
10:30

Mumbai
17:50

Mumbai
19:30

Mumbai
21:00

Mumbai
09:45

Mumbai
09:15

Mumbai
10:45

Mumbai
14:20

Mumbai
06:15

Mumbai
16:20

Mumbai
09:30

Mumbai
12:45

Mumbai
08:30

Mumbai
06:15

Mumbai
06:55

Mumbai
10:45

Mumbai
12:45

Mumbai
['19:30\n\nMumbai', '05:45\n\nMumbai', '16:25\n\nMumbai', '21:25\n\nMumbai', '09:00\n\nMumbai', '15:15\n\nMumbai', '05:20\n\nMumbai', '07:15\n\nMumbai', '10:30\n\nMumbai', '17:50\n\nMumbai', '19:30\n\nMumbai', '21:00\n\nMumbai', '09:45\n\nMumbai', '09:15\n\nMumbai', '10:45\n\nMumbai', '14:20\n\nMumbai', '06:15\n\nMumbai', '16:20\n\nMumbai', '09:30\n\nMumbai', '12:45\n\nMumbai', '08:30\n\nMumbai', '06:15\n\nMumbai', '06:55\n\nMumbai', '10:45\n\nMumbai', '12:45\n\nMumbai']

In [129]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

21:20

Chennai
07:40

Chennai
18:15

Chennai
23:15

Chennai
10:55

Chennai
17:10

Chennai
07:20

Chennai
09:15

Chennai
12:30

Chennai
19:55

Chennai
21:35

Chennai
23:05

Chennai
11:50

Chennai
17:15

Chennai
15:05

Chennai
19:15

Chennai
11:15

Chennai
22:05

Chennai
15:55

Chennai
20:05

Chennai
15:55

Chennai
15:05

Chennai
15:55

Chennai
20:05

Chennai
22:05

Chennai
['21:20\n\nChennai', '07:40\n\nChennai', '18:15\n\nChennai', '23:15\n\nChennai', '10:55\n\nChennai', '17:10\n\nChennai', '07:20\n\nChennai', '09:15\n\nChennai', '12:30\n\nChennai', '19:55\n\nChennai', '21:35\n\nChennai', '23:05\n\nChennai', '11:50\n\nChennai', '17:15\n\nChennai', '15:05\n\nChennai', '19:15\n\nChennai', '11:15\n\nChennai', '22:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai', '15:55\n\nChennai', '15:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai', '22:05\n\nChennai']

In [130]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 50m

Non Stop
1h 55m

Non Stop
1h 50m

Non Stop
1h 50m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
8h 00m

1 Stop
4h 20m

1 Stop
4h 55m

1 Stop
5h 00m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
7h 20m

1 Stop
7h 25m

1 Stop
8h 50m

1 Stop
9h 00m

1 Stop
9h 20m

1 Stop
9h 20m

1 Stop
['1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 50m\n\nNon Stop', '1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '8h 00m\n\n1 Stop ', '4h 20m\n\n1 Stop ', '4h 55m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '7h 20m\n\n1 Stop ', '7h 25m\n\n1 Stop ', '8h 50m\n\n1 Stop ', '9h 00m\n\n1 Stop ', '9h 20m\n\n1 Stop ', '9h 20m\n\n1 Stop ']

In [131]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,942
5,942
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
6,363
7,991
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
['5,942', '5,942', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '6,363', '7,991', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043']

In [132]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time          Arr Time            Duration  Price
0     SpiceJet  19:30\n\nMumbai  21:20\n\nChennai  1h 50m\n\nNon Stop  5,942
1     Go First  05:45\n\nMumbai  07:40\n\nChennai  1h 55m\n\nNon Stop  5,942
2       IndiGo  16:25\n\nMumbai  18:15\n\nChennai  1h 50m\n\nNon Stop  5,943
3       IndiGo  21:25\n\nMumbai  23:15\n\nChennai  1h 50m\n\nNon Stop  5,943
4    Air India  09:00\n\nMumbai  10:55\n\nChennai  1h 55m\n\nNon Stop  5,943

In [133]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails14.csv', index=False)

Now for 27th Jan

In [149]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=27%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=203853104299&version=1.1&viewName=normal"

In [150]:
driver.get(url)

In [151]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
IndiGo
IndiGo
Air India
IndiGo
Air India
IndiGo
IndiGo
Vistara
Vistara
IndiGo
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['Go First', 'IndiGo', 'IndiGo', 'Air India', 'IndiGo', 'Air India', 'IndiGo', 'IndiGo', 'Vistara', 'Vistara', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [152]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

05:45

Mumbai
16:25

Mumbai
21:25

Mumbai
09:00

Mumbai
15:15

Mumbai
05:20

Mumbai
07:15

Mumbai
10:30

Mumbai
09:45

Mumbai
17:50

Mumbai
19:30

Mumbai
21:00

Mumbai
09:15

Mumbai
10:45

Mumbai
14:20

Mumbai
06:15

Mumbai
10:15

Mumbai
16:20

Mumbai
09:30

Mumbai
12:45

Mumbai
08:30

Mumbai
06:15

Mumbai
06:55

Mumbai
10:15

Mumbai
10:45

Mumbai
['05:45\n\nMumbai', '16:25\n\nMumbai', '21:25\n\nMumbai', '09:00\n\nMumbai', '15:15\n\nMumbai', '05:20\n\nMumbai', '07:15\n\nMumbai', '10:30\n\nMumbai', '09:45\n\nMumbai', '17:50\n\nMumbai', '19:30\n\nMumbai', '21:00\n\nMumbai', '09:15\n\nMumbai', '10:45\n\nMumbai', '14:20\n\nMumbai', '06:15\n\nMumbai', '10:15\n\nMumbai', '16:20\n\nMumbai', '09:30\n\nMumbai', '12:45\n\nMumbai', '08:30\n\nMumbai', '06:15\n\nMumbai', '06:55\n\nMumbai', '10:15\n\nMumbai', '10:45\n\nMumbai']

In [153]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

07:40

Chennai
18:15

Chennai
23:15

Chennai
10:55

Chennai
17:10

Chennai
07:20

Chennai
09:15

Chennai
12:30

Chennai
11:50

Chennai
19:55

Chennai
21:35

Chennai
23:05

Chennai
17:15

Chennai
15:05

Chennai
19:15

Chennai
11:15

Chennai
15:55

Chennai
22:05

Chennai
15:55

Chennai
20:05

Chennai
15:55

Chennai
15:05

Chennai
15:55

Chennai
19:15

Chennai
20:05

Chennai
['07:40\n\nChennai', '18:15\n\nChennai', '23:15\n\nChennai', '10:55\n\nChennai', '17:10\n\nChennai', '07:20\n\nChennai', '09:15\n\nChennai', '12:30\n\nChennai', '11:50\n\nChennai', '19:55\n\nChennai', '21:35\n\nChennai', '23:05\n\nChennai', '17:15\n\nChennai', '15:05\n\nChennai', '19:15\n\nChennai', '11:15\n\nChennai', '15:55\n\nChennai', '22:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai', '15:55\n\nChennai', '15:05\n\nChennai', '15:55\n\nChennai', '19:15\n\nChennai', '20:05\n\nChennai']

In [154]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 55m

Non Stop
1h 50m

Non Stop
1h 50m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
8h 00m

1 Stop
4h 20m

1 Stop
4h 55m

1 Stop
5h 00m

1 Stop
5h 40m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
7h 20m

1 Stop
7h 25m

1 Stop
8h 50m

1 Stop
9h 00m

1 Stop
9h 00m

1 Stop
9h 20m

1 Stop
['1h 55m\n\nNon Stop', '1h 50m\n\nNon Stop', '1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '8h 00m\n\n1 Stop ', '4h 20m\n\n1 Stop ', '4h 55m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 40m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '7h 20m\n\n1 Stop ', '7h 25m\n\n1 Stop ', '8h 50m\n\n1 Stop ', '9h 00m\n\n1 Stop ', '9h 00m\n\n1 Stop ', '9h 20m\n\n1 Stop ']

In [155]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,942
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
7,991
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
['5,942', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '7,991', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043']

In [156]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time          Arr Time            Duration  Price
0     Go First  05:45\n\nMumbai  07:40\n\nChennai  1h 55m\n\nNon Stop  5,942
1       IndiGo  16:25\n\nMumbai  18:15\n\nChennai  1h 50m\n\nNon Stop  5,943
2       IndiGo  21:25\n\nMumbai  23:15\n\nChennai  1h 50m\n\nNon Stop  5,943
3    Air India  09:00\n\nMumbai  10:55\n\nChennai  1h 55m\n\nNon Stop  5,943
4       IndiGo  15:15\n\nMumbai  17:10\n\nChennai  1h 55m\n\nNon Stop  5,943

In [157]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails15.csv', index=False)

Now for 28th jan

In [174]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=28%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=751941860457&version=1.1&viewName=normal"

In [175]:
driver.get(url)

In [176]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

SpiceJet
Go First
SpiceJet
Go First
SpiceJet
IndiGo
IndiGo
Air India
IndiGo
IndiGo
IndiGo
Vistara
Vistara
Vistara
IndiGo
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['SpiceJet', 'Go First', 'SpiceJet', 'Go First', 'SpiceJet', 'IndiGo', 'IndiGo', 'Air India', 'IndiGo', 'IndiGo', 'IndiGo', 'Vistara', 'Vistara', 'Vistara', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [177]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

19:30

Mumbai
05:45

Mumbai
06:00

Mumbai
20:15

Mumbai
23:45

Mumbai
16:25

Mumbai
21:25

Mumbai
09:00

Mumbai
15:15

Mumbai
07:15

Mumbai
10:30

Mumbai
06:45

Mumbai
09:45

Mumbai
17:50

Mumbai
19:30

Mumbai
21:00

Mumbai
09:15

Mumbai
10:45

Mumbai
06:50

Mumbai
14:20

Mumbai
06:15

Mumbai
16:20

Mumbai
09:30

Mumbai
12:45

Mumbai
08:30

Mumbai
['19:30\n\nMumbai', '05:45\n\nMumbai', '06:00\n\nMumbai', '20:15\n\nMumbai', '23:45\n\nMumbai', '16:25\n\nMumbai', '21:25\n\nMumbai', '09:00\n\nMumbai', '15:15\n\nMumbai', '07:15\n\nMumbai', '10:30\n\nMumbai', '06:45\n\nMumbai', '09:45\n\nMumbai', '17:50\n\nMumbai', '19:30\n\nMumbai', '21:00\n\nMumbai', '09:15\n\nMumbai', '10:45\n\nMumbai', '06:50\n\nMumbai', '14:20\n\nMumbai', '06:15\n\nMumbai', '16:20\n\nMumbai', '09:30\n\nMumbai', '12:45\n\nMumbai', '08:30\n\nMumbai']

In [178]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

21:20

Chennai
07:40

Chennai
08:00

Chennai
22:20

Chennai
18:25
+ 1 day

Chennai
18:15

Chennai
23:15

Chennai
10:55

Chennai
17:10

Chennai
09:15

Chennai
12:30

Chennai
08:50

Chennai
11:50

Chennai
19:55

Chennai
21:35

Chennai
23:05

Chennai
17:15

Chennai
15:05

Chennai
11:15

Chennai
19:15

Chennai
11:15

Chennai
22:05

Chennai
15:55

Chennai
20:05

Chennai
15:55

Chennai
['21:20\n\nChennai', '07:40\n\nChennai', '08:00\n\nChennai', '22:20\n\nChennai', '18:25\n+ 1 day\n\nChennai', '18:15\n\nChennai', '23:15\n\nChennai', '10:55\n\nChennai', '17:10\n\nChennai', '09:15\n\nChennai', '12:30\n\nChennai', '08:50\n\nChennai', '11:50\n\nChennai', '19:55\n\nChennai', '21:35\n\nChennai', '23:05\n\nChennai', '17:15\n\nChennai', '15:05\n\nChennai', '11:15\n\nChennai', '19:15\n\nChennai', '11:15\n\nChennai', '22:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai', '15:55\n\nChennai']

In [179]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 50m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
18h 40m

1 Stop
1h 50m

Non Stop
1h 50m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
8h 00m

1 Stop
4h 20m

1 Stop
4h 25m

1 Stop
4h 55m

1 Stop
5h 00m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
7h 20m

1 Stop
7h 25m

1 Stop
['1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '18h 40m\n\n1 Stop ', '1h 50m\n\nNon Stop', '1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '8h 00m\n\n1 Stop ', '4h 20m\n\n1 Stop ', '4h 25m\n\n1 Stop ', '4h 55m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '7h 20m\n\n1 Stop ', '7h 25m\n\n1 Stop ']

In [180]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,942
5,942
5,942
5,942
5,942
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
7,991
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
['5,942', '5,942', '5,942', '5,942', '5,942', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '7,991', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043']

In [181]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

,Airline Name,Dept Time,Arr Time,Duration,Price
0,SpiceJet,19:30\n\nMumbai,21:20\n\nChennai,1h 50m\n\nNon Stop,"5,942"
1,Go First,05:45\n\nMumbai,07:40\n\nChennai,1h 55m\n\nNon Stop,"5,942"
2,SpiceJet,06:00\n\nMumbai,08:00\n\nChennai,2h 00m\n\nNon Stop,"5,942"
3,Go First,20:15\n\nMumbai,22:20\n\nChennai,2h 05m\n\nNon Stop,"5,942"
4,SpiceJet,23:45\n\nMumbai,18:25\n+ 1 day\n\nChennai,18h 40m\n\n1 Stop,"5,942"

In [182]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails16.csv', index=False)

Now for 29th jan

In [26]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=29%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=413761501382&version=1.1&viewName=normal"

In [27]:
driver.get(url)

In [28]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

SpiceJet
Go First
SpiceJet
Go First
SpiceJet
SpiceJet
IndiGo
Air India
IndiGo
Air India
IndiGo
IndiGo
Vistara
Vistara
Vistara
IndiGo
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['SpiceJet', 'Go First', 'SpiceJet', 'Go First', 'SpiceJet', 'SpiceJet', 'IndiGo', 'Air India', 'IndiGo', 'Air India', 'IndiGo', 'IndiGo', 'Vistara', 'Vistara', 'Vistara', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [29]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

19:30

Mumbai
05:45

Mumbai
06:00

Mumbai
20:15

Mumbai
11:35

Mumbai
23:45

Mumbai
16:25

Mumbai
09:00

Mumbai
15:15

Mumbai
05:20

Mumbai
07:15

Mumbai
10:30

Mumbai
06:45

Mumbai
09:45

Mumbai
17:50

Mumbai
19:30

Mumbai
21:00

Mumbai
09:15

Mumbai
10:45

Mumbai
14:20

Mumbai
06:15

Mumbai
10:15

Mumbai
16:20

Mumbai
09:30

Mumbai
12:45

Mumbai
['19:30\n\nMumbai', '05:45\n\nMumbai', '06:00\n\nMumbai', '20:15\n\nMumbai', '11:35\n\nMumbai', '23:45\n\nMumbai', '16:25\n\nMumbai', '09:00\n\nMumbai', '15:15\n\nMumbai', '05:20\n\nMumbai', '07:15\n\nMumbai', '10:30\n\nMumbai', '06:45\n\nMumbai', '09:45\n\nMumbai', '17:50\n\nMumbai', '19:30\n\nMumbai', '21:00\n\nMumbai', '09:15\n\nMumbai', '10:45\n\nMumbai', '14:20\n\nMumbai', '06:15\n\nMumbai', '10:15\n\nMumbai', '16:20\n\nMumbai', '09:30\n\nMumbai', '12:45\n\nMumbai']

In [30]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

21:20

Chennai
07:40

Chennai
08:00

Chennai
22:20

Chennai
18:25

Chennai
18:25
+ 1 day

Chennai
18:15

Chennai
10:55

Chennai
17:10

Chennai
07:20

Chennai
09:15

Chennai
12:30

Chennai
08:50

Chennai
11:50

Chennai
19:55

Chennai
21:35

Chennai
23:05

Chennai
17:15

Chennai
15:05

Chennai
19:15

Chennai
11:15

Chennai
15:55

Chennai
22:05

Chennai
15:55

Chennai
20:05

Chennai
['21:20\n\nChennai', '07:40\n\nChennai', '08:00\n\nChennai', '22:20\n\nChennai', '18:25\n\nChennai', '18:25\n+ 1 day\n\nChennai', '18:15\n\nChennai', '10:55\n\nChennai', '17:10\n\nChennai', '07:20\n\nChennai', '09:15\n\nChennai', '12:30\n\nChennai', '08:50\n\nChennai', '11:50\n\nChennai', '19:55\n\nChennai', '21:35\n\nChennai', '23:05\n\nChennai', '17:15\n\nChennai', '15:05\n\nChennai', '19:15\n\nChennai', '11:15\n\nChennai', '15:55\n\nChennai', '22:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai']

In [31]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 50m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
6h 50m

1 Stop
18h 40m

1 Stop
1h 50m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
8h 00m

1 Stop
4h 20m

1 Stop
4h 55m

1 Stop
5h 00m

1 Stop
5h 40m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
7h 20m

1 Stop
['1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '6h 50m\n\n1 Stop ', '18h 40m\n\n1 Stop ', '1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '8h 00m\n\n1 Stop ', '4h 20m\n\n1 Stop ', '4h 55m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 40m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '7h 20m\n\n1 Stop ']

In [32]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,942
5,942
5,942
5,942
5,942
5,942
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
7,991
8,043
8,043
8,043
8,043
8,043
8,043
8,043
['5,942', '5,942', '5,942', '5,942', '5,942', '5,942', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '7,991', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043']

In [33]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time          Arr Time            Duration  Price
0     SpiceJet  19:30\n\nMumbai  21:20\n\nChennai  1h 50m\n\nNon Stop  5,942
1     Go First  05:45\n\nMumbai  07:40\n\nChennai  1h 55m\n\nNon Stop  5,942
2     SpiceJet  06:00\n\nMumbai  08:00\n\nChennai  2h 00m\n\nNon Stop  5,942
3     Go First  20:15\n\nMumbai  22:20\n\nChennai  2h 05m\n\nNon Stop  5,942
4     SpiceJet  11:35\n\nMumbai  18:25\n\nChennai   6h 50m\n\n1 Stop   5,942

In [34]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails17.csv', index=False)

Now for 30th jan

In [35]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=MAA&destinationCountry=IN&flexi=0&flight_depart_date=30%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1623239996310&version=1.1&viewName=normal"

In [36]:
driver.get(url)

In [37]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

SpiceJet
Go First
SpiceJet
Go First
SpiceJet
IndiGo
Air India
IndiGo
Air India
IndiGo
IndiGo
Vistara
Vistara
Vistara
IndiGo
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['SpiceJet', 'Go First', 'SpiceJet', 'Go First', 'SpiceJet', 'IndiGo', 'Air India', 'IndiGo', 'Air India', 'IndiGo', 'IndiGo', 'Vistara', 'Vistara', 'Vistara', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [38]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

19:30

Mumbai
05:45

Mumbai
06:00

Mumbai
20:15

Mumbai
11:35

Mumbai
16:25

Mumbai
09:00

Mumbai
15:15

Mumbai
05:20

Mumbai
07:15

Mumbai
10:30

Mumbai
06:45

Mumbai
09:45

Mumbai
17:50

Mumbai
19:30

Mumbai
21:00

Mumbai
09:15

Mumbai
10:45

Mumbai
14:20

Mumbai
06:15

Mumbai
10:15

Mumbai
16:20

Mumbai
09:30

Mumbai
12:45

Mumbai
08:30

Mumbai
['19:30\n\nMumbai', '05:45\n\nMumbai', '06:00\n\nMumbai', '20:15\n\nMumbai', '11:35\n\nMumbai', '16:25\n\nMumbai', '09:00\n\nMumbai', '15:15\n\nMumbai', '05:20\n\nMumbai', '07:15\n\nMumbai', '10:30\n\nMumbai', '06:45\n\nMumbai', '09:45\n\nMumbai', '17:50\n\nMumbai', '19:30\n\nMumbai', '21:00\n\nMumbai', '09:15\n\nMumbai', '10:45\n\nMumbai', '14:20\n\nMumbai', '06:15\n\nMumbai', '10:15\n\nMumbai', '16:20\n\nMumbai', '09:30\n\nMumbai', '12:45\n\nMumbai', '08:30\n\nMumbai']

In [39]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

21:20

Chennai
07:40

Chennai
08:00

Chennai
22:20

Chennai
18:25

Chennai
18:15

Chennai
10:55

Chennai
17:10

Chennai
07:20

Chennai
09:15

Chennai
12:30

Chennai
08:50

Chennai
11:50

Chennai
19:55

Chennai
21:35

Chennai
23:05

Chennai
17:15

Chennai
15:05

Chennai
19:15

Chennai
11:15

Chennai
15:55

Chennai
22:05

Chennai
15:55

Chennai
20:05

Chennai
15:55

Chennai
['21:20\n\nChennai', '07:40\n\nChennai', '08:00\n\nChennai', '22:20\n\nChennai', '18:25\n\nChennai', '18:15\n\nChennai', '10:55\n\nChennai', '17:10\n\nChennai', '07:20\n\nChennai', '09:15\n\nChennai', '12:30\n\nChennai', '08:50\n\nChennai', '11:50\n\nChennai', '19:55\n\nChennai', '21:35\n\nChennai', '23:05\n\nChennai', '17:15\n\nChennai', '15:05\n\nChennai', '19:15\n\nChennai', '11:15\n\nChennai', '15:55\n\nChennai', '22:05\n\nChennai', '15:55\n\nChennai', '20:05\n\nChennai', '15:55\n\nChennai']

In [40]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 50m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
6h 50m

1 Stop
1h 50m

Non Stop
1h 55m

Non Stop
1h 55m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 00m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
2h 05m

Non Stop
8h 00m

1 Stop
4h 20m

1 Stop
4h 55m

1 Stop
5h 00m

1 Stop
5h 40m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
7h 20m

1 Stop
7h 25m

1 Stop
['1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '6h 50m\n\n1 Stop ', '1h 50m\n\nNon Stop', '1h 55m\n\nNon Stop', '1h 55m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 00m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '2h 05m\n\nNon Stop', '8h 00m\n\n1 Stop ', '4h 20m\n\n1 Stop ', '4h 55m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 40m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '7h 20m\n\n1 Stop ', '7h 25m\n\n1 Stop ']

In [41]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,942
5,942
5,942
5,942
5,942
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
5,943
7,991
8,043
8,043
8,043
8,043
8,043
8,043
8,043
8,043
['5,942', '5,942', '5,942', '5,942', '5,942', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '5,943', '7,991', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043', '8,043']

In [42]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time          Arr Time            Duration  Price
0     SpiceJet  19:30\n\nMumbai  21:20\n\nChennai  1h 50m\n\nNon Stop  5,942
1     Go First  05:45\n\nMumbai  07:40\n\nChennai  1h 55m\n\nNon Stop  5,942
2     SpiceJet  06:00\n\nMumbai  08:00\n\nChennai  2h 00m\n\nNon Stop  5,942
3     Go First  20:15\n\nMumbai  22:20\n\nChennai  2h 05m\n\nNon Stop  5,942
4     SpiceJet  11:35\n\nMumbai  18:25\n\nChennai   6h 50m\n\n1 Stop   5,942

In [43]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails18.csv', index=False)

Mumbai to Bangalore 23rd jan

In [17]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=23%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=433242743737&version=1.1&viewName=normal"

In [18]:
driver.get(url)

In [19]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
SpiceJet
Go First
SpiceJet
IndiGo
Air India
IndiGo
IndiGo
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
Air India
Air India
Air India
Air India
IndiGo
Air India
Air India
Air India
Air India
['Go First', 'Go First', 'Go First', 'SpiceJet', 'Go First', 'SpiceJet', 'IndiGo', 'Air India', 'IndiGo', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'Air India', 'Air India', 'Air India', 'Air India', 'IndiGo', 'Air India', 'Air India', 'Air India', 'Air India']

In [20]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

16:00

Mumbai
19:35

Mumbai
19:15

Mumbai
23:45

Mumbai
19:15

Mumbai
15:30

Mumbai
14:20

Mumbai
16:45

Mumbai
17:10

Mumbai
20:30

Mumbai
19:10

Mumbai
18:45

Mumbai
16:20

Mumbai
17:10

Mumbai
16:20

Mumbai
14:05

Mumbai
13:25

Mumbai
20:15

Mumbai
20:15

Mumbai
21:00

Mumbai
23:05

Mumbai
16:00

Mumbai
15:35

Mumbai
21:30

Mumbai
18:30

Mumbai
['16:00\n\nMumbai', '19:35\n\nMumbai', '19:15\n\nMumbai', '23:45\n\nMumbai', '19:15\n\nMumbai', '15:30\n\nMumbai', '14:20\n\nMumbai', '16:45\n\nMumbai', '17:10\n\nMumbai', '20:30\n\nMumbai', '19:10\n\nMumbai', '18:45\n\nMumbai', '16:20\n\nMumbai', '17:10\n\nMumbai', '16:20\n\nMumbai', '14:05\n\nMumbai', '13:25\n\nMumbai', '20:15\n\nMumbai', '20:15\n\nMumbai', '21:00\n\nMumbai', '23:05\n\nMumbai', '16:00\n\nMumbai', '15:35\n\nMumbai', '21:30\n\nMumbai', '18:30\n\nMumbai']

In [21]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

17:35

Bangalore
21:20

Bangalore
23:40

Bangalore
09:00
+ 1 day

Bangalore
10:25
+ 1 day

Bangalore
09:00
+ 1 day

Bangalore
16:05

Bangalore
18:30

Bangalore
18:55

Bangalore
22:15

Bangalore
20:55

Bangalore
22:50

Bangalore
20:45

Bangalore
22:50

Bangalore
22:50

Bangalore
20:05

Bangalore
22:30

Bangalore
10:45
+ 1 day

Bangalore
14:55
+ 1 day

Bangalore
22:30
+ 1 day

Bangalore
10:05
+ 1 day

Bangalore
00:15
+ 1 day

Bangalore
00:15
+ 1 day

Bangalore
08:55
+ 1 day

Bangalore
08:55
+ 1 day

Bangalore
['17:35\n\nBangalore', '21:20\n\nBangalore', '23:40\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '10:25\n+ 1 day\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '16:05\n\nBangalore', '18:30\n\nBangalore', '18:55\n\nBangalore', '22:15\n\nBangalore', '20:55\n\nBangalore', '22:50\n\nBangalore', '20:45\n\nBangalore', '22:50\n\nBangalore', '22:50\n\nBangalore', '20:05\n\nBangalore', '22:30\n\nBangalore', '10:45\n+ 1 day\n\nBangalore', '14:55\n+ 1 day\n\nBangalore', '22:30\n+ 1 day\n\nBangalore', '10:05\n+ 1 day\n\nBangalore', '00:15\n+ 1 day\n\nBangalore', '00:15\n+ 1 day\n\nBangalore', '08:55\n+ 1 day\n\nBangalore', '08:55\n+ 1 day\n\nBangalore']

In [22]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 35m

Non Stop
1h 45m

Non Stop
4h 25m

1 Stop
9h 15m

1 Stop
15h 10m

1 Stop
17h 30m

1 Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
4h 05m

1 Stop
4h 25m

1 Stop
5h 40m

1 Stop
6h 30m

1 Stop
6h 00m

1 Stop
9h 05m

1 Stop
14h 30m

1 Stop
18h 40m

2 Stop(s)
25h 30m

1 Stop
11h 00m

1 Stop
8h 15m

1 Stop
8h 40m

2 Stop(s)
11h 25m

1 Stop
14h 25m

1 Stop
['1h 35m\n\nNon Stop', '1h 45m\n\nNon Stop', '4h 25m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '15h 10m\n\n1 Stop ', '17h 30m\n\n1 Stop ', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '4h 05m\n\n1 Stop ', '4h 25m\n\n1 Stop ', '5h 40m\n\n1 Stop ', '6h 30m\n\n1 Stop ', '6h 00m\n\n1 Stop ', '9h 05m\n\n1 Stop ', '14h 30m\n\n1 Stop ', '18h 40m\n\n2 Stop(s) ', '25h 30m\n\n1 Stop ', '11h 00m\n\n1 Stop ', '8h 15m\n\n1 Stop ', '8h 40m\n\n2 Stop(s) ', '11h 25m\n\n1 Stop ', '14h 25m\n\n1 Stop ']

In [23]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,102
5,102
5,102
5,102
5,102
5,102
5,103
5,103
5,103
5,103
5,208
8,043
8,043
8,043
8,043
8,096
8,148
8,148
8,148
8,148
8,936
9,201
9,201
9,201
9,201
['5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,103', '5,103', '5,103', '5,103', '5,208', '8,043', '8,043', '8,043', '8,043', '8,096', '8,148', '8,148', '8,148', '8,148', '8,936', '9,201', '9,201', '9,201', '9,201']

In [24]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

,Airline Name,Dept Time,Arr Time,Duration,Price
0,Go First,16:00\n\nMumbai,17:35\n\nBangalore,1h 35m\n\nNon Stop,"5,102"
1,Go First,19:35\n\nMumbai,21:20\n\nBangalore,1h 45m\n\nNon Stop,"5,102"
2,Go First,19:15\n\nMumbai,23:40\n\nBangalore,4h 25m\n\n1 Stop,"5,102"
3,SpiceJet,23:45\n\nMumbai,09:00\n+ 1 day\n\nBangalore,9h 15m\n\n1 Stop,"5,102"
4,Go First,19:15\n\nMumbai,10:25\n+ 1 day\n\nBangalore,15h 10m\n\n1 Stop,"5,102"

In [25]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails19.csv', index=False)

Now for 24th jan

In [8]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=24%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1275293145908&version=1.1&viewName=normal"

In [9]:
driver.get(url)

In [10]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
Go First
Go First
IndiGo
Vistara
Air India
IndiGo
Air India
IndiGo
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'IndiGo', 'Vistara', 'Air India', 'IndiGo', 'Air India', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [11]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

08:20

Mumbai
19:15

Mumbai
20:15

Mumbai
21:00

Mumbai
19:15

Mumbai
06:55

Mumbai
09:05

Mumbai
09:30

Mumbai
14:20

Mumbai
16:45

Mumbai
17:10

Mumbai
19:10

Mumbai
20:30

Mumbai
09:30

Mumbai
05:20

Mumbai
14:20

Mumbai
11:05

Mumbai
12:45

Mumbai
14:25

Mumbai
10:45

Mumbai
13:10

Mumbai
16:20

Mumbai
12:45

Mumbai
10:45

Mumbai
12:45

Mumbai
['08:20\n\nMumbai', '19:15\n\nMumbai', '20:15\n\nMumbai', '21:00\n\nMumbai', '19:15\n\nMumbai', '06:55\n\nMumbai', '09:05\n\nMumbai', '09:30\n\nMumbai', '14:20\n\nMumbai', '16:45\n\nMumbai', '17:10\n\nMumbai', '19:10\n\nMumbai', '20:30\n\nMumbai', '09:30\n\nMumbai', '05:20\n\nMumbai', '14:20\n\nMumbai', '11:05\n\nMumbai', '12:45\n\nMumbai', '14:25\n\nMumbai', '10:45\n\nMumbai', '13:10\n\nMumbai', '16:20\n\nMumbai', '12:45\n\nMumbai', '10:45\n\nMumbai', '12:45\n\nMumbai']

In [12]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

09:55

Bangalore
23:40

Bangalore
08:40
+ 1 day

Bangalore
11:10
+ 1 day

Bangalore
10:25
+ 1 day

Bangalore
08:30

Bangalore
10:45

Bangalore
11:10

Bangalore
16:05

Bangalore
18:30

Bangalore
18:55

Bangalore
20:55

Bangalore
22:15

Bangalore
11:20

Bangalore
09:15

Bangalore
20:05

Bangalore
17:30

Bangalore
19:35

Bangalore
22:30

Bangalore
19:35

Bangalore
22:25

Bangalore
20:45

Bangalore
18:30

Bangalore
18:30

Bangalore
20:45

Bangalore
['09:55\n\nBangalore', '23:40\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '11:10\n+ 1 day\n\nBangalore', '10:25\n+ 1 day\n\nBangalore', '08:30\n\nBangalore', '10:45\n\nBangalore', '11:10\n\nBangalore', '16:05\n\nBangalore', '18:30\n\nBangalore', '18:55\n\nBangalore', '20:55\n\nBangalore', '22:15\n\nBangalore', '11:20\n\nBangalore', '09:15\n\nBangalore', '20:05\n\nBangalore', '17:30\n\nBangalore', '19:35\n\nBangalore', '22:30\n\nBangalore', '19:35\n\nBangalore', '22:25\n\nBangalore', '20:45\n\nBangalore', '18:30\n\nBangalore', '18:30\n\nBangalore', '20:45\n\nBangalore']

In [13]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 35m

Non Stop
4h 25m

1 Stop
12h 25m

1 Stop
14h 10m

1 Stop
15h 10m

1 Stop
1h 35m

Non Stop
1h 40m

Non Stop
1h 40m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 50m

Non Stop
3h 55m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
6h 50m

1 Stop
8h 05m

1 Stop
8h 50m

1 Stop
9h 15m

1 Stop
4h 25m

1 Stop
5h 45m

1 Stop
7h 45m

1 Stop
8h 00m

1 Stop
['1h 35m\n\nNon Stop', '4h 25m\n\n1 Stop ', '12h 25m\n\n1 Stop ', '14h 10m\n\n1 Stop ', '15h 10m\n\n1 Stop ', '1h 35m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 50m\n\nNon Stop', '3h 55m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '6h 50m\n\n1 Stop ', '8h 05m\n\n1 Stop ', '8h 50m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '4h 25m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '7h 45m\n\n1 Stop ', '8h 00m\n\n1 Stop ']

In [14]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,102
5,102
5,102
5,102
5,102
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
8,043
8,043
8,043
8,043
['5,102', '5,102', '5,102', '5,102', '5,102', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '8,043', '8,043', '8,043', '8,043']

In [15]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

,Airline Name,Dept Time,Arr Time,Duration,Price
0,Go First,08:20\n\nMumbai,09:55\n\nBangalore,1h 35m\n\nNon Stop,"5,102"
1,Go First,19:15\n\nMumbai,23:40\n\nBangalore,4h 25m\n\n1 Stop,"5,102"
2,Go First,20:15\n\nMumbai,08:40\n+ 1 day\n\nBangalore,12h 25m\n\n1 Stop,"5,102"
3,Go First,21:00\n\nMumbai,11:10\n+ 1 day\n\nBangalore,14h 10m\n\n1 Stop,"5,102"
4,Go First,19:15\n\nMumbai,10:25\n+ 1 day\n\nBangalore,15h 10m\n\n1 Stop,"5,102"

In [16]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails20.csv', index=False)

now for 25th jan

In [37]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=25%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=716732922508&version=1.1&viewName=normal"

In [38]:
driver.get(url)

In [39]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
IndiGo
Vistara
Air India
IndiGo
Vistara
Air India
IndiGo
Vistara
IndiGo
['Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'IndiGo', 'Vistara', 'Air India', 'IndiGo', 'Vistara', 'Air India', 'IndiGo', 'Vistara', 'IndiGo']

In [40]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

08:20

Mumbai
14:35

Mumbai
20:35

Mumbai
11:30

Mumbai
19:15

Mumbai
05:25

Mumbai
18:10

Mumbai
05:45

Mumbai
13:30

Mumbai
23:45

Mumbai
04:55

Mumbai
22:05

Mumbai
09:55

Mumbai
22:40

Mumbai
20:15

Mumbai
08:20

Mumbai
06:55

Mumbai
09:05

Mumbai
09:30

Mumbai
14:20

Mumbai
16:00

Mumbai
16:45

Mumbai
17:10

Mumbai
19:10

Mumbai
20:30

Mumbai
['08:20\n\nMumbai', '14:35\n\nMumbai', '20:35\n\nMumbai', '11:30\n\nMumbai', '19:15\n\nMumbai', '05:25\n\nMumbai', '18:10\n\nMumbai', '05:45\n\nMumbai', '13:30\n\nMumbai', '23:45\n\nMumbai', '04:55\n\nMumbai', '22:05\n\nMumbai', '09:55\n\nMumbai', '22:40\n\nMumbai', '20:15\n\nMumbai', '08:20\n\nMumbai', '06:55\n\nMumbai', '09:05\n\nMumbai', '09:30\n\nMumbai', '14:20\n\nMumbai', '16:00\n\nMumbai', '16:45\n\nMumbai', '17:10\n\nMumbai', '19:10\n\nMumbai', '20:30\n\nMumbai']

In [41]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

09:55

Bangalore
16:10

Bangalore
22:20

Bangalore
15:10

Bangalore
23:40

Bangalore
10:25

Bangalore
23:40

Bangalore
12:20

Bangalore
21:25

Bangalore
08:40
+ 1 day

Bangalore
15:10

Bangalore
08:40
+ 1 day

Bangalore
21:25

Bangalore
10:25
+ 1 day

Bangalore
08:40
+ 1 day

Bangalore
21:25

Bangalore
08:30

Bangalore
10:45

Bangalore
11:10

Bangalore
16:05

Bangalore
17:45

Bangalore
18:30

Bangalore
18:55

Bangalore
20:55

Bangalore
22:15

Bangalore
['09:55\n\nBangalore', '16:10\n\nBangalore', '22:20\n\nBangalore', '15:10\n\nBangalore', '23:40\n\nBangalore', '10:25\n\nBangalore', '23:40\n\nBangalore', '12:20\n\nBangalore', '21:25\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '15:10\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '21:25\n\nBangalore', '10:25\n+ 1 day\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '21:25\n\nBangalore', '08:30\n\nBangalore', '10:45\n\nBangalore', '11:10\n\nBangalore', '16:05\n\nBangalore', '17:45\n\nBangalore', '18:30\n\nBangalore', '18:55\n\nBangalore', '20:55\n\nBangalore', '22:15\n\nBangalore']

In [42]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 35m

Non Stop
1h 35m

Non Stop
1h 45m

Non Stop
3h 40m

1 Stop
4h 25m

1 Stop
5h 00m

1 Stop
5h 30m

1 Stop
6h 35m

1 Stop
7h 55m

1 Stop
8h 55m

1 Stop
10h 15m

1 Stop
10h 35m

1 Stop
11h 30m

1 Stop
11h 45m

1 Stop
12h 25m

1 Stop
13h 05m

1 Stop
1h 35m

Non Stop
1h 40m

Non Stop
1h 40m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
['1h 35m\n\nNon Stop', '1h 35m\n\nNon Stop', '1h 45m\n\nNon Stop', '3h 40m\n\n1 Stop ', '4h 25m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 30m\n\n1 Stop ', '6h 35m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 55m\n\n1 Stop ', '10h 15m\n\n1 Stop ', '10h 35m\n\n1 Stop ', '11h 30m\n\n1 Stop ', '11h 45m\n\n1 Stop ', '12h 25m\n\n1 Stop ', '13h 05m\n\n1 Stop ', '1h 35m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop']

In [43]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
['5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103']

In [44]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time            Arr Time            Duration  Price
0     Go First  08:20\n\nMumbai  09:55\n\nBangalore  1h 35m\n\nNon Stop  5,102
1     Go First  14:35\n\nMumbai  16:10\n\nBangalore  1h 35m\n\nNon Stop  5,102
2     Go First  20:35\n\nMumbai  22:20\n\nBangalore  1h 45m\n\nNon Stop  5,102
3     Go First  11:30\n\nMumbai  15:10\n\nBangalore   3h 40m\n\n1 Stop   5,102
4     Go First  19:15\n\nMumbai  23:40\n\nBangalore   4h 25m\n\n1 Stop   5,102

In [45]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails21.csv', index=False)

now for 26th jan

In [25]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=26%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=398487049022&version=1.1&viewName=normal"

In [26]:
driver.get(url)

In [27]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
IndiGo
IndiGo
Vistara
Air India
IndiGo
Vistara
['Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'IndiGo', 'IndiGo', 'Vistara', 'Air India', 'IndiGo', 'Vistara']

In [35]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

08:20

Mumbai
14:35

Mumbai
20:35

Mumbai
19:15

Mumbai
05:25

Mumbai
18:10

Mumbai
05:45

Mumbai
13:30

Mumbai
23:45

Mumbai
23:45

Mumbai
04:55

Mumbai
22:05

Mumbai
10:45

Mumbai
22:40

Mumbai
08:40

Mumbai
08:20

Mumbai
21:00

Mumbai
18:00

Mumbai
15:30

Mumbai
06:55

Mumbai
08:30

Mumbai
09:05

Mumbai
09:30

Mumbai
14:20

Mumbai
16:00

Mumbai
['08:20\n\nMumbai', '14:35\n\nMumbai', '20:35\n\nMumbai', '19:15\n\nMumbai', '05:25\n\nMumbai', '18:10\n\nMumbai', '05:45\n\nMumbai', '13:30\n\nMumbai', '23:45\n\nMumbai', '23:45\n\nMumbai', '04:55\n\nMumbai', '22:05\n\nMumbai', '10:45\n\nMumbai', '22:40\n\nMumbai', '08:40\n\nMumbai', '08:20\n\nMumbai', '21:00\n\nMumbai', '18:00\n\nMumbai', '15:30\n\nMumbai', '06:55\n\nMumbai', '08:30\n\nMumbai', '09:05\n\nMumbai', '09:30\n\nMumbai', '14:20\n\nMumbai', '16:00\n\nMumbai']

In [29]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

09:55

Bangalore
16:10

Bangalore
22:20

Bangalore
23:40

Bangalore
10:25

Bangalore
23:40

Bangalore
12:20

Bangalore
21:25

Bangalore
08:40
+ 1 day

Bangalore
09:00
+ 1 day

Bangalore
14:20

Bangalore
08:40
+ 1 day

Bangalore
21:25

Bangalore
10:25
+ 1 day

Bangalore
21:30

Bangalore
21:25

Bangalore
11:10
+ 1 day

Bangalore
08:40
+ 1 day

Bangalore
09:00
+ 1 day

Bangalore
08:30

Bangalore
10:05

Bangalore
10:45

Bangalore
11:10

Bangalore
16:05

Bangalore
17:45

Bangalore
['09:55\n\nBangalore', '16:10\n\nBangalore', '22:20\n\nBangalore', '23:40\n\nBangalore', '10:25\n\nBangalore', '23:40\n\nBangalore', '12:20\n\nBangalore', '21:25\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '14:20\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '21:25\n\nBangalore', '10:25\n+ 1 day\n\nBangalore', '21:30\n\nBangalore', '21:25\n\nBangalore', '11:10\n+ 1 day\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '08:30\n\nBangalore', '10:05\n\nBangalore', '10:45\n\nBangalore', '11:10\n\nBangalore', '16:05\n\nBangalore', '17:45\n\nBangalore']

In [30]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 35m

Non Stop
1h 35m

Non Stop
1h 45m

Non Stop
4h 25m

1 Stop
5h 00m

1 Stop
5h 30m

1 Stop
6h 35m

1 Stop
7h 55m

1 Stop
8h 55m

1 Stop
9h 15m

1 Stop
9h 25m

1 Stop
10h 35m

1 Stop
10h 40m

1 Stop
11h 45m

1 Stop
12h 50m

1 Stop
13h 05m

1 Stop
14h 10m

1 Stop
14h 40m

1 Stop
17h 30m

1 Stop
1h 35m

Non Stop
1h 35m

Non Stop
1h 40m

Non Stop
1h 40m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
['1h 35m\n\nNon Stop', '1h 35m\n\nNon Stop', '1h 45m\n\nNon Stop', '4h 25m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 30m\n\n1 Stop ', '6h 35m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 55m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '9h 25m\n\n1 Stop ', '10h 35m\n\n1 Stop ', '10h 40m\n\n1 Stop ', '11h 45m\n\n1 Stop ', '12h 50m\n\n1 Stop ', '13h 05m\n\n1 Stop ', '14h 10m\n\n1 Stop ', '14h 40m\n\n1 Stop ', '17h 30m\n\n1 Stop ', '1h 35m\n\nNon Stop', '1h 35m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop']

In [31]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,103
5,103
5,103
5,103
5,103
5,103
['5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103']

In [32]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time            Arr Time            Duration  Price
0     Go First  08:20\n\nMumbai  09:55\n\nBangalore  1h 35m\n\nNon Stop  5,102
1     Go First  14:35\n\nMumbai  16:10\n\nBangalore  1h 35m\n\nNon Stop  5,102
2     Go First  20:35\n\nMumbai  22:20\n\nBangalore  1h 45m\n\nNon Stop  5,102
3     Go First  19:15\n\nMumbai  23:40\n\nBangalore   4h 25m\n\n1 Stop   5,102
4     Go First  05:25\n\nMumbai  10:25\n\nBangalore   5h 00m\n\n1 Stop   5,102

In [36]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails22.csv', index=False)

Now For 27th jan

In [46]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=27%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1183351429930&version=1.1&viewName=normal"

In [47]:
driver.get(url)

In [48]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
SpiceJet
IndiGo
IndiGo
Vistara
Air India
IndiGo
IndiGo
Vistara
['Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'SpiceJet', 'IndiGo', 'IndiGo', 'Vistara', 'Air India', 'IndiGo', 'IndiGo', 'Vistara']

In [49]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

08:20

Mumbai
14:35

Mumbai
20:35

Mumbai
19:15

Mumbai
05:25

Mumbai
18:10

Mumbai
05:45

Mumbai
13:30

Mumbai
23:45

Mumbai
23:45

Mumbai
04:55

Mumbai
21:15

Mumbai
09:55

Mumbai
22:40

Mumbai
08:20

Mumbai
18:00

Mumbai
15:30

Mumbai
11:35

Mumbai
06:55

Mumbai
08:30

Mumbai
09:05

Mumbai
09:30

Mumbai
10:15

Mumbai
14:20

Mumbai
16:00

Mumbai
['08:20\n\nMumbai', '14:35\n\nMumbai', '20:35\n\nMumbai', '19:15\n\nMumbai', '05:25\n\nMumbai', '18:10\n\nMumbai', '05:45\n\nMumbai', '13:30\n\nMumbai', '23:45\n\nMumbai', '23:45\n\nMumbai', '04:55\n\nMumbai', '21:15\n\nMumbai', '09:55\n\nMumbai', '22:40\n\nMumbai', '08:20\n\nMumbai', '18:00\n\nMumbai', '15:30\n\nMumbai', '11:35\n\nMumbai', '06:55\n\nMumbai', '08:30\n\nMumbai', '09:05\n\nMumbai', '09:30\n\nMumbai', '10:15\n\nMumbai', '14:20\n\nMumbai', '16:00\n\nMumbai']

In [50]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

09:55

Bangalore
16:10

Bangalore
22:20

Bangalore
23:40

Bangalore
10:25

Bangalore
23:40

Bangalore
12:20

Bangalore
21:25

Bangalore
08:40
+ 1 day

Bangalore
09:00
+ 1 day

Bangalore
15:10

Bangalore
08:40
+ 1 day

Bangalore
21:25

Bangalore
10:25
+ 1 day

Bangalore
21:25

Bangalore
08:40
+ 1 day

Bangalore
09:00
+ 1 day

Bangalore
09:00
+ 1 day

Bangalore
08:30

Bangalore
10:05

Bangalore
10:45

Bangalore
11:10

Bangalore
11:55

Bangalore
16:05

Bangalore
17:45

Bangalore
['09:55\n\nBangalore', '16:10\n\nBangalore', '22:20\n\nBangalore', '23:40\n\nBangalore', '10:25\n\nBangalore', '23:40\n\nBangalore', '12:20\n\nBangalore', '21:25\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '15:10\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '21:25\n\nBangalore', '10:25\n+ 1 day\n\nBangalore', '21:25\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '08:30\n\nBangalore', '10:05\n\nBangalore', '10:45\n\nBangalore', '11:10\n\nBangalore', '11:55\n\nBangalore', '16:05\n\nBangalore', '17:45\n\nBangalore']

In [51]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 35m

Non Stop
1h 35m

Non Stop
1h 45m

Non Stop
4h 25m

1 Stop
5h 00m

1 Stop
5h 30m

1 Stop
6h 35m

1 Stop
7h 55m

1 Stop
8h 55m

1 Stop
9h 15m

1 Stop
10h 15m

1 Stop
11h 25m

1 Stop
11h 30m

1 Stop
11h 45m

1 Stop
13h 05m

1 Stop
14h 40m

1 Stop
17h 30m

1 Stop
21h 25m

1 Stop
1h 35m

Non Stop
1h 35m

Non Stop
1h 40m

Non Stop
1h 40m

Non Stop
1h 40m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
['1h 35m\n\nNon Stop', '1h 35m\n\nNon Stop', '1h 45m\n\nNon Stop', '4h 25m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 30m\n\n1 Stop ', '6h 35m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 55m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '10h 15m\n\n1 Stop ', '11h 25m\n\n1 Stop ', '11h 30m\n\n1 Stop ', '11h 45m\n\n1 Stop ', '13h 05m\n\n1 Stop ', '14h 40m\n\n1 Stop ', '17h 30m\n\n1 Stop ', '21h 25m\n\n1 Stop ', '1h 35m\n\nNon Stop', '1h 35m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop']

In [52]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,103
5,103
5,103
5,103
5,103
5,103
5,103
['5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103']

In [53]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time            Arr Time            Duration  Price
0     Go First  08:20\n\nMumbai  09:55\n\nBangalore  1h 35m\n\nNon Stop  5,102
1     Go First  14:35\n\nMumbai  16:10\n\nBangalore  1h 35m\n\nNon Stop  5,102
2     Go First  20:35\n\nMumbai  22:20\n\nBangalore  1h 45m\n\nNon Stop  5,102
3     Go First  19:15\n\nMumbai  23:40\n\nBangalore   4h 25m\n\n1 Stop   5,102
4     Go First  05:25\n\nMumbai  10:25\n\nBangalore   5h 00m\n\n1 Stop   5,102

In [54]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails23.csv', index=False)

now for 28th jan

In [55]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=28%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1249396178753&version=1.1&viewName=normal"

In [56]:
driver.get(url)

In [57]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
Go First
IndiGo
IndiGo
Vistara
Air India
IndiGo
Vistara
Air India
IndiGo
Vistara
IndiGo
IndiGo
['Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'IndiGo', 'IndiGo', 'Vistara', 'Air India', 'IndiGo', 'Vistara', 'Air India', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo']

In [58]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

08:20

Mumbai
14:35

Mumbai
20:35

Mumbai
19:15

Mumbai
05:25

Mumbai
18:10

Mumbai
05:45

Mumbai
13:30

Mumbai
23:45

Mumbai
15:15

Mumbai
04:55

Mumbai
21:15

Mumbai
09:55

Mumbai
22:40

Mumbai
06:55

Mumbai
08:30

Mumbai
09:05

Mumbai
09:30

Mumbai
14:20

Mumbai
16:00

Mumbai
16:45

Mumbai
17:10

Mumbai
19:10

Mumbai
20:30

Mumbai
09:30

Mumbai
['08:20\n\nMumbai', '14:35\n\nMumbai', '20:35\n\nMumbai', '19:15\n\nMumbai', '05:25\n\nMumbai', '18:10\n\nMumbai', '05:45\n\nMumbai', '13:30\n\nMumbai', '23:45\n\nMumbai', '15:15\n\nMumbai', '04:55\n\nMumbai', '21:15\n\nMumbai', '09:55\n\nMumbai', '22:40\n\nMumbai', '06:55\n\nMumbai', '08:30\n\nMumbai', '09:05\n\nMumbai', '09:30\n\nMumbai', '14:20\n\nMumbai', '16:00\n\nMumbai', '16:45\n\nMumbai', '17:10\n\nMumbai', '19:10\n\nMumbai', '20:30\n\nMumbai', '09:30\n\nMumbai']

In [59]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

09:55

Bangalore
16:10

Bangalore
22:20

Bangalore
23:40

Bangalore
10:25

Bangalore
23:40

Bangalore
12:20

Bangalore
21:25

Bangalore
08:40
+ 1 day

Bangalore
00:20
+ 1 day

Bangalore
15:10

Bangalore
08:40
+ 1 day

Bangalore
21:25

Bangalore
10:25
+ 1 day

Bangalore
08:30

Bangalore
10:05

Bangalore
10:45

Bangalore
11:10

Bangalore
16:05

Bangalore
17:45

Bangalore
18:30

Bangalore
18:55

Bangalore
20:55

Bangalore
22:15

Bangalore
11:20

Bangalore
['09:55\n\nBangalore', '16:10\n\nBangalore', '22:20\n\nBangalore', '23:40\n\nBangalore', '10:25\n\nBangalore', '23:40\n\nBangalore', '12:20\n\nBangalore', '21:25\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '00:20\n+ 1 day\n\nBangalore', '15:10\n\nBangalore', '08:40\n+ 1 day\n\nBangalore', '21:25\n\nBangalore', '10:25\n+ 1 day\n\nBangalore', '08:30\n\nBangalore', '10:05\n\nBangalore', '10:45\n\nBangalore', '11:10\n\nBangalore', '16:05\n\nBangalore', '17:45\n\nBangalore', '18:30\n\nBangalore', '18:55\n\nBangalore', '20:55\n\nBangalore', '22:15\n\nBangalore', '11:20\n\nBangalore']

In [60]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 35m

Non Stop
1h 35m

Non Stop
1h 45m

Non Stop
4h 25m

1 Stop
5h 00m

1 Stop
5h 30m

1 Stop
6h 35m

1 Stop
7h 55m

1 Stop
8h 55m

1 Stop
9h 05m

1 Stop
10h 15m

1 Stop
11h 25m

1 Stop
11h 30m

1 Stop
11h 45m

1 Stop
1h 35m

Non Stop
1h 35m

Non Stop
1h 40m

Non Stop
1h 40m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 50m

Non Stop
['1h 35m\n\nNon Stop', '1h 35m\n\nNon Stop', '1h 45m\n\nNon Stop', '4h 25m\n\n1 Stop ', '5h 00m\n\n1 Stop ', '5h 30m\n\n1 Stop ', '6h 35m\n\n1 Stop ', '7h 55m\n\n1 Stop ', '8h 55m\n\n1 Stop ', '9h 05m\n\n1 Stop ', '10h 15m\n\n1 Stop ', '11h 25m\n\n1 Stop ', '11h 30m\n\n1 Stop ', '11h 45m\n\n1 Stop ', '1h 35m\n\nNon Stop', '1h 35m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 50m\n\nNon Stop']

In [61]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
['5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103']

In [62]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time            Arr Time            Duration  Price
0     Go First  08:20\n\nMumbai  09:55\n\nBangalore  1h 35m\n\nNon Stop  5,102
1     Go First  14:35\n\nMumbai  16:10\n\nBangalore  1h 35m\n\nNon Stop  5,102
2     Go First  20:35\n\nMumbai  22:20\n\nBangalore  1h 45m\n\nNon Stop  5,102
3     Go First  19:15\n\nMumbai  23:40\n\nBangalore   4h 25m\n\n1 Stop   5,102
4     Go First  05:25\n\nMumbai  10:25\n\nBangalore   5h 00m\n\n1 Stop   5,102

In [63]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails24.csv', index=False)

For 29th jan

In [8]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=29%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=593297012413&version=1.1&viewName=normal"

In [9]:
driver.get(url)

In [10]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

SpiceJet
Air India
Air India
Air India
Air India
Air India
Air India
Air India
Air India
Air India
Go First
Air India
Air India
['SpiceJet', 'Air India', 'Air India', 'Air India', 'Air India', 'Air India', 'Air India', 'Air India', 'Air India', 'Air India', 'Go First', 'Air India', 'Air India']

In [11]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

23:45

Mumbai
21:30

Mumbai
21:30

Mumbai
21:30

Mumbai
21:30

Mumbai
21:30

Mumbai
21:30

Mumbai
21:30

Mumbai
21:30

Mumbai
21:30

Mumbai
21:15

Mumbai
21:30

Mumbai
21:30

Mumbai
['23:45\n\nMumbai', '21:30\n\nMumbai', '21:30\n\nMumbai', '21:30\n\nMumbai', '21:30\n\nMumbai', '21:30\n\nMumbai', '21:30\n\nMumbai', '21:30\n\nMumbai', '21:30\n\nMumbai', '21:30\n\nMumbai', '21:15\n\nMumbai', '21:30\n\nMumbai', '21:30\n\nMumbai']

In [12]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

08:45
+ 1 day

Bangalore
08:55
+ 1 day

Bangalore
12:30
+ 1 day

Bangalore
16:15
+ 1 day

Bangalore
00:05
+ 2 days

Bangalore
20:05
+ 1 day

Bangalore
14:20
+ 1 day

Bangalore
22:15
+ 1 day

Bangalore
22:15
+ 1 day

Bangalore
11:40
+ 1 day

Bangalore
15:10
+ 1 day

Bangalore
19:50
+ 1 day

Bangalore
19:50
+ 1 day

Bangalore
['08:45\n+ 1 day\n\nBangalore', '08:55\n+ 1 day\n\nBangalore', '12:30\n+ 1 day\n\nBangalore', '16:15\n+ 1 day\n\nBangalore', '00:05\n+ 2 days\n\nBangalore', '20:05\n+ 1 day\n\nBangalore', '14:20\n+ 1 day\n\nBangalore', '22:15\n+ 1 day\n\nBangalore', '22:15\n+ 1 day\n\nBangalore', '11:40\n+ 1 day\n\nBangalore', '15:10\n+ 1 day\n\nBangalore', '19:50\n+ 1 day\n\nBangalore', '19:50\n+ 1 day\n\nBangalore']

In [13]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

9h 00m

1 Stop
11h 25m

1 Stop
15h 00m

1 Stop
18h 45m

1 Stop
26h 35m

1 Stop
22h 35m

1 Stop
16h 50m

2 Stop(s)
24h 45m

2 Stop(s)
24h 45m

2 Stop(s)
14h 10m

2 Stop(s)
17h 55m

2 Stop(s)
22h 20m

2 Stop(s)
22h 20m

2 Stop(s)
['9h 00m\n\n1 Stop ', '11h 25m\n\n1 Stop ', '15h 00m\n\n1 Stop ', '18h 45m\n\n1 Stop ', '26h 35m\n\n1 Stop ', '22h 35m\n\n1 Stop ', '16h 50m\n\n2 Stop(s) ', '24h 45m\n\n2 Stop(s) ', '24h 45m\n\n2 Stop(s) ', '14h 10m\n\n2 Stop(s) ', '17h 55m\n\n2 Stop(s) ', '22h 20m\n\n2 Stop(s) ', '22h 20m\n\n2 Stop(s) ']

In [14]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,102
9,201
9,201
9,201
9,201
10,703
11,469
11,469
11,469
12,090
12,847
16,236
16,236
['5,102', '9,201', '9,201', '9,201', '9,201', '10,703', '11,469', '11,469', '11,469', '12,090', '12,847', '16,236', '16,236']

In [15]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

,Airline Name,Dept Time,Arr Time,Duration,Price
0,SpiceJet,23:45\n\nMumbai,08:45\n+ 1 day\n\nBangalore,9h 00m\n\n1 Stop,"5,102"
1,Air India,21:30\n\nMumbai,08:55\n+ 1 day\n\nBangalore,11h 25m\n\n1 Stop,"9,201"
2,Air India,21:30\n\nMumbai,12:30\n+ 1 day\n\nBangalore,15h 00m\n\n1 Stop,"9,201"
3,Air India,21:30\n\nMumbai,16:15\n+ 1 day\n\nBangalore,18h 45m\n\n1 Stop,"9,201"
4,Air India,21:30\n\nMumbai,00:05\n+ 2 days\n\nBangalore,26h 35m\n\n1 Stop,"9,201"

In [16]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails25.csv', index=False)

For 30th jan

In [17]:
url="https://flight.yatra.com/air-search-ui/dom2/trigger?ADT=1&CHD=0&INF=0&class=Economy&destination=BLR&destinationCountry=IN&flexi=0&flight_depart_date=30%2F01%2F2022&hb=0&noOfSegments=1&origin=BOM&originCountry=IN&type=O&unique=1378908467686&viewName=normal"

In [18]:
driver.get(url)

In [19]:
flight_name=driver.find_elements_by_xpath("//span[@class='i-b text ellipsis']")
flights= []
for i in flight_name:
    a = i.get_attribute('innerText')
    print(a)
    flights.append(a)
print(flights)

Go First
Go First
Go First
Go First
Go First
Go First
SpiceJet
Go First
Go First
SpiceJet
SpiceJet
IndiGo
Vistara
IndiGo
IndiGo
Vistara
Air India
IndiGo
Vistara
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
IndiGo
['Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'Go First', 'SpiceJet', 'Go First', 'Go First', 'SpiceJet', 'SpiceJet', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo', 'Vistara', 'Air India', 'IndiGo', 'Vistara', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo', 'IndiGo']

In [20]:
dept_time=driver.find_elements_by_xpath("//div[@class='i-b col-4 no-wrap text-right dtime col-3']")
dept= []
for i in dept_time:
    a = i.get_attribute('innerText')
    print(a)
    dept.append(a)
print(dept)

14:35

Mumbai
20:35

Mumbai
11:30

Mumbai
19:15

Mumbai
09:00

Mumbai
11:20

Mumbai
23:45

Mumbai
04:55

Mumbai
19:15

Mumbai
15:30

Mumbai
11:35

Mumbai
06:55

Mumbai
09:05

Mumbai
10:15

Mumbai
14:20

Mumbai
16:00

Mumbai
16:45

Mumbai
17:10

Mumbai
19:10

Mumbai
20:30

Mumbai
09:30

Mumbai
16:20

Mumbai
12:45

Mumbai
11:05

Mumbai
07:15

Mumbai
['14:35\n\nMumbai', '20:35\n\nMumbai', '11:30\n\nMumbai', '19:15\n\nMumbai', '09:00\n\nMumbai', '11:20\n\nMumbai', '23:45\n\nMumbai', '04:55\n\nMumbai', '19:15\n\nMumbai', '15:30\n\nMumbai', '11:35\n\nMumbai', '06:55\n\nMumbai', '09:05\n\nMumbai', '10:15\n\nMumbai', '14:20\n\nMumbai', '16:00\n\nMumbai', '16:45\n\nMumbai', '17:10\n\nMumbai', '19:10\n\nMumbai', '20:30\n\nMumbai', '09:30\n\nMumbai', '16:20\n\nMumbai', '12:45\n\nMumbai', '11:05\n\nMumbai', '07:15\n\nMumbai']

In [21]:
arr_time=driver.find_elements_by_xpath("//div[@class='i-b pdd-0 text-left atime col-5']")
arr= []
for i in arr_time:
    a = i.get_attribute('innerText')
    print(a)
    arr.append(a)
print(arr)

16:10

Bangalore
22:20

Bangalore
15:10

Bangalore
23:40

Bangalore
15:10

Bangalore
19:35

Bangalore
09:00
+ 1 day

Bangalore
15:10

Bangalore
10:25
+ 1 day

Bangalore
09:00
+ 1 day

Bangalore
09:00
+ 1 day

Bangalore
08:30

Bangalore
10:45

Bangalore
11:55

Bangalore
16:05

Bangalore
17:45

Bangalore
18:30

Bangalore
18:55

Bangalore
20:55

Bangalore
22:15

Bangalore
11:20

Bangalore
20:45

Bangalore
18:30

Bangalore
17:30

Bangalore
14:10

Bangalore
['16:10\n\nBangalore', '22:20\n\nBangalore', '15:10\n\nBangalore', '23:40\n\nBangalore', '15:10\n\nBangalore', '19:35\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '15:10\n\nBangalore', '10:25\n+ 1 day\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '09:00\n+ 1 day\n\nBangalore', '08:30\n\nBangalore', '10:45\n\nBangalore', '11:55\n\nBangalore', '16:05\n\nBangalore', '17:45\n\nBangalore', '18:30\n\nBangalore', '18:55\n\nBangalore', '20:55\n\nBangalore', '22:15\n\nBangalore', '11:20\n\nBangalore', '20:45\n\nBangalore', '18:30\n\nBangalore', '17:30\n\nBangalore', '14:10\n\nBangalore']

In [22]:
duration_time=driver.find_elements_by_xpath("//div[@class='stop-cont pl-13']")
duration= []
for i in duration_time:
    a = i.get_attribute('innerText')
    print(a)
    duration.append(a)
print(duration)

1h 35m

Non Stop
1h 45m

Non Stop
3h 40m

1 Stop
4h 25m

1 Stop
6h 10m

1 Stop
8h 15m

1 Stop
9h 15m

1 Stop
10h 15m

1 Stop
15h 10m

1 Stop
17h 30m

1 Stop
21h 25m

1 Stop
1h 35m

Non Stop
1h 40m

Non Stop
1h 40m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 45m

Non Stop
1h 50m

Non Stop
4h 25m

1 Stop
5h 45m

1 Stop
6h 25m

1 Stop
6h 55m

1 Stop
['1h 35m\n\nNon Stop', '1h 45m\n\nNon Stop', '3h 40m\n\n1 Stop ', '4h 25m\n\n1 Stop ', '6h 10m\n\n1 Stop ', '8h 15m\n\n1 Stop ', '9h 15m\n\n1 Stop ', '10h 15m\n\n1 Stop ', '15h 10m\n\n1 Stop ', '17h 30m\n\n1 Stop ', '21h 25m\n\n1 Stop ', '1h 35m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 40m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 45m\n\nNon Stop', '1h 50m\n\nNon Stop', '4h 25m\n\n1 Stop ', '5h 45m\n\n1 Stop ', '6h 25m\n\n1 Stop ', '6h 55m\n\n1 Stop ']

In [23]:
price_details=driver.find_elements_by_xpath("//div[@class='i-b tipsy fare-summary-tooltip fs-18']")
price= []
for i in price_details:
    a = i.get_attribute('innerText')
    print(a)
    price.append(a)
print(price)

5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,102
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
5,103
['5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,102', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103', '5,103']

In [24]:
Flight=pd.DataFrame({})
Flight['Airline Name']=flights
Flight['Dept Time']=dept
Flight['Arr Time']=arr
Flight['Duration']=duration
Flight['Price']=price
Flight.head()

  Airline Name        Dept Time            Arr Time            Duration  Price
0     Go First  14:35\n\nMumbai  16:10\n\nBangalore  1h 35m\n\nNon Stop  5,102
1     Go First  20:35\n\nMumbai  22:20\n\nBangalore  1h 45m\n\nNon Stop  5,102
2     Go First  11:30\n\nMumbai  15:10\n\nBangalore   3h 40m\n\n1 Stop   5,102
3     Go First  19:15\n\nMumbai  23:40\n\nBangalore   4h 25m\n\n1 Stop   5,102
4     Go First  09:00\n\nMumbai  15:10\n\nBangalore   6h 10m\n\n1 Stop   5,102

In [25]:
df=Flight
df.index = df.index+1
df.to_csv('Flightdetails26.csv', index=False)

# Total details taken on "Flightdetails.csv"